@font-face {
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

:root {
    --blå: #007bff;
    --hvitt: #fff;
    --lys-hvitt: #fbfbfb;
    --svart: #000;
    --mørk-grått: #8F8A8A;
    --extra-mørk-grått: #2B2929;

    --burnt-umber: #6E260E;
    --burgundy: #800020;
    --chestnut: #954535;
    --cognac: #834333;
    --cordovan: #814141;
    --mørk-blå: #0E1427;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

.taskbar-img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

#last-text {
    text-align: center;
    margin-bottom: 80px;
    margin-top: -10px;
    color: #8F8A8A;
    opacity: .6;
}

.container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    margin: 50px auto;
}

.block {
    width: 225px;
    height: 300px;
    flex: 1;
    justify-content: flex-start;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.block p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

.block img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    display: block;
}

.block ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.block li {
    font-size: 18px;
    margin-bottom: 5px;
}

.tech-icon {
    width: 20px;
    height: auto;
    margin-bottom: 10px;
}

.text-label {
    text-align: left;
    margin-left: 10vw;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 200px;
}


#tech-h2-text {
    margin-top: 300px;
}

.h2-label {
    color: var(--extra-mørk-grått);
}

.description-label {
    margin-top: -10px;
    font-weight: lighter;
    font-size: 18px;
    color: var(--extra-mørk-grått);
    text-transform: none;
}

h2 {
    color: var(--svart);
}

.top-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--hvitt);
    padding: 8px;
}

a {
    text-decoration: none;
    color: var(--svart);
}

a:hover {
    color: var(--mørk-grått);
}

.skill-a {
    text-decoration: underline;
    text-decoration-color: #02b0ff;
}

.skill-a-image {
    width: 15px;
    height: auto;
}

.dropdown-content {
    display: none;
    color: #fff;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

#footer-a {
    text-underline: var(--blå);
    color: var(--blå);
}

#footer-a:hover {
    color: #02b0ff;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fbfbfb;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.chapter {
    font-size: smaller;
    margin-right: 35px;
    text-underline: #000;
}

#home {
    margin-bottom: 100px;
}

.home-box {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 35vw;
    margin-top: 100px;
    align-items: center;
}

#home-box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2vw;
    margin-bottom: 3vw;
    text-align: left;
    padding: 20px;
}

#home-box-text h1 {
    margin-right: 46px;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 5px;
}

#home-box-text p {
    font-weight: normal;
    margin-top: 5px;
    width: 470px;
}

#home-box-text h3 {
    font-weight: 500;
    margin-top: 5px;
    margin-right: 5px;
    width: 470px;
}

#projects-h2-text {
    margin-top: 450px;
}

.home-box-picture {
    display: flex;
    align-items: flex-start;
    height: 13vw;
    margin-top: -300px;
}

.small-lang-icon {
    width: 20px;
    height: auto;
    margin-bottom: -4px;
    margin-right: 5px;
}

.form {
    background: url("bilder/mallorcabilde.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 300px;
    box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 5s ease-in-out;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60% ;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
}

#projects {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    width: 80%;
    font-weight: 500;
    font-size: 20px;
    padding-top: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-box {
    width: 80%;
    align-items: center;
    padding-left: 9px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;

    display: flex;
    margin-bottom: 15vh;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project-box:hover {
    transform: translateY(-5px);
}

.project-box-picture {
    border-radius: 10px;
    width: 400px;
    margin-right: 50px;
    margin-top: 25px;
}

.project-description {
    font-weight: normal;
}

.project-box-info {
    margin-right: 25px;
}

.project-box-info h1 {
    font-weight: 990;
}

.project-box-info p {
    font-size: 16px;
    line-height: 30px;
}

.project-box-code-button {
    background-color: #fff;
    border: none;
    width: 34px;
}

.button {
    width: 32px;
}

.languages-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.language {
    font-weight: 500;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

#popupBtn {
    border: none;
    background-color: #fff;
    color: #000;
    width: 8.2vw;
}

#popupBtn:hover {
    color: #363333;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    width: 400px;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.picture {
    width: 130px;
}

.study-title {
    font-weight: 790;
    color: #272525;
}

.popup-picture, .popup-info {
    width: 50%;
    float: left;
    color: #363333;
}

.popup-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
}

.popup-info {
    line-height: 12px;
}

#studie-link {
    color: #363333;
}

#studie-link:hover {
    color: #007bff;
    text-underline: #007bff;
    text-decoration: underline;
}

#studie-locatie {
    color: #363333;
}

#studie-locatie:hover {
    color: #007bff;
    text-underline: #007bff;
    text-decoration: underline;
}

.project-box-button-box {
    display: flex;
    align-items: center;
}

.project-box-buttons {
    margin: 20px;
    font-size: 20px;
    left: 0;
    display: flex;
    align-items: center;
}

.project-box-text {
    color: #363333;
}

.project-box-text:hover {
    color: #007bff;
    text-decoration: underline;
    text-underline: #007bff;
}

.project-title {
    color: black;
}

.project-title:hover {
    color: #007bff;
    text-underline: #007bff;
    text-decoration: underline;
}

.project-image {
    transition: transform 0.3s ease;
    display: block;
}

.project-image:hover {
    transform: translate3d(10px, 10px, 10px);
}

#menu-ham {
    width: 20px;
    height: 20px;
    border: none;
}

#ham-icon {
    width: 60px;
}

.mobile-hamburger-menu {
    background-color: #fff;
    margin-left: -70px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.holder {
    width: 25px;
    height: 2px;
    margin: 3px 0;
}

#directory-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

#directory-list a {
    text-decoration: none;
}

@media only screen and (max-width: 1170px) {

    #skill-section {
        margin-top: 900px;
    }

    h2 {
        font-size: 50px;
    }

    li {
        font-size: 30px;
    }

    .skill-a-image {
        width: 30px;
        height: auto;
    }

    * {
        width: 100%;
    }

    #personal-description {
        margin-left: 30px;
        text-align: center;
        width: 100%;
    }

    .project-description {
        width: 95%;
        margin-right: 25px;
    }

    #projects {
        margin-top: 200px;
    }

    p {
        font-size: 29px;
    }

    #home {
        margin-bottom: 1200px;
    }

    #home-box-text {
        width: 100vw;

        text-align: left;
    }

    #home-box-name {
        text-align: center;
        font-size: 56px;
    }

    #home-box-text h1 {
        text-align: center;
        margin-left: 50px;
        margin-bottom: 10px;
        font-size: 102px;
    }

    .chapter {
        width: 400px;
        float: left;
        display: inline;
        font-size: 34px;
    }

    #home-box-text h3 {
        font-size: 50px;
        width: 100%;
    }

    .project-box-picture {
        margin-top: 100px;
        width: 70vw;
    }

    .image-container {
        width: 100%;
    }

    #home-box-text p {
        font-size: 44px;
        font-weight: normal;
        width: 100%;
    }

    .languages-container div {
        font-size: 28px;
    }

    .project-box-picture {
        margin-left: 75px;
        margin-top: 500px;
        width: 90vw;
    }

    .project-box-info {
        margin-right: 75px;
    }

    .project-box-info h1 {
        font-size: 38px;
    }

    .project-box-info p {
        font-size: 28px;
    }

    .small-lang-icon {
        width: 50px;
        height: auto;
    }

    .dropdown-content a:hover{
        background-color: var(--lys-hvitt);
    }

    #tech-h2 {
        margin-top: 1000px;
    }

    main {
        margin-top: 400px;
    }

    #tech-h2-text {
        font-size: 56px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .block {
        margin-bottom: 100px;
        width: 100%;
        height: 85%;
    }

    .block .tech-icon {
        width: 40%;
        height: auto;
    }

    .block p {
        font-size: 56px;
    }

    .block ul li {
        font-size: 46px;
    }

    .form {
        margin-left: 100px;
        margin-top: 800px;
        height: 80vw;
        width: 80vw;
    }

    .home-box {
        flex-direction: column-reverse;
        text-align: center;
    }

    #home-box-text {
        margin-bottom: 20px;
    }

    .project-box {
        display: flex;
        flex-direction: column;
    }

    .image-container {
        margin-bottom: 10px;
    }

    .projects {
        margin-bottom: -600px;
    }

    .project-box-info {
        margin-left: 165px;
        width: 90%;
    }

    #image-div img {
        max-width: 100%;
        height: auto;
    }

    #image-div,
    #list-div,
    .dropdown {
        flex: 1 1;
        width: 500px;
    }

    .small-lang-icon {
        margin-bottom: -12px;
        margin-right: 10px;
    }

    .languages-container {
        font-size: 56px;
    }

    #hamburger-button {
        color: #0d0d0d;
        background-color: var(--lys-hvitt);
    }

    .top-div {
        float: left;
        display: inline-grid;
        padding: 26px;
    }

    #list-div {
        float:left;
    }

    #list-div {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    #directory-list {
        display: flex;
        justify-content: flex-start;
    }

    #image-div, #list-div, .dropdown {
        flex-grow: 1;
    }

    #popupBtn {
        width: 400px;
        float: left;
        display: inline;
        background-color: var(--hvitt);
    }

    .project-box-info p {
        font-size: 42px;
        line-height: 50px;
    }

    #kpn-title {
        font-size: 86px;
    }

    .project-title {
        font-size: 86px;
    }

    #wvd-logo {
        width: 100px;
        margin-left: 35px;
        margin-right: -20px;
    }

    .mobile-hamburger-menu {
        display: flex;
        margin-top: 15px;
        margin-left: 50px;
        border: none;
        background-color: var(--hvitt);
        align-items: center;
        text-align: center;
    }

    button#hamburger-button.mobile-hamburger-menu {
        width: 20px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer #footer-text {
        width: 90%;
        font-size: 44px;
    }

    .dropdown-content {
        width: 300px;
    }

    .dropdown-content a {
        height: 80px;
        background-color: var(--hvitt);
        color: #000;
        font-size: 32px;
    }

    div#list-div.navigation-holder {
        width: 20px;
    }

    #directory-ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #directory-list.show #directory-ul {
        display: flex;
        background-color: var(--hvitt);
    }

    .mobile-hamburger-menu:hover #directory-ul {
        display: flex;
    }

    div.dropdown {
        text-align: center;
    }

    #directory-list {
        display: flex;
        align-items: center;
    }

    .dropdown {
        align-content: end;
        text-align: left;
    }

    #job-title {
        text-align: center;
        margin-left: 20px;
    }

    a#language-a.chapter {
        margin-left: 90px;
    }

    #directory-ul a {
        height: 90px;
        text-align: center;
        margin: 10px 0;
    }
}