@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url('https://fonts.cdnfonts.com/css/graphik-trial');

:root {
    --darkest-gray: #222831;
    --darker_gray: #31363F;
    --light-white: #EEEEEE;
    --navy-blue: #567DFD;
    --red: #C7454F;
    --green: #58a497;
    --yellow: #e09449;
    --lightgreen1: #a4bdb7;
    --brown: #8b4448;
    --gray: gray;
    --lightgreen2: rgb(164, 189, 183, 0.5);
    --box: #ededed;
}

body {
    font-family: "Graphik Trial", sans-serif;
    color: var(--darkest-gray);
    background-color: #fff;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

/* PROFILE CARD */

#home-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    width: 50vw;
    gap: 20px;
}

/* Base styling for the profile card */
.profile-card {
    width: 40%;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    position: relative;
}

.profile-card.dark {
    background-color: #1f2937;
    border-color: #374151;
}

.dropdown-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.dropdown-button {
    background: none;
    border: none;
    color: #6b7280;
    cursor: pointer;
    padding: 0.375rem;
    border-radius: 0.375rem;
    display: inline-flex;
    align-items: center;
}

.dropdown-button:hover {
    background-color: #f3f4f6;
}

.dropdown-button.dark {
    color: #d1d5db;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 11rem;
    border: 1px solid #e5e7eb;
}

.dropdown-menu.dark {
    background-color: #374151;
    border-color: #4b5563;
}

.dropdown-menu ul {
    padding: 0.5rem 0;
    margin: 0;
    list-style: none;
}

.dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #374151;
    font-size: 0.875rem;
}

.dropdown-item:hover {
    background-color: #f3f4f6;
}

.dropdown-item.dark {
    color: #d1d5db;
}

.delete-item {
    color: #dc2626;
}

.delete-item:hover {
    background-color: #f3f4f6;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
}

.profile-image {
    width: 8rem;
    height: 8rem;
    border-radius: 9999px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 65px;
}

.profile-name {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #111827;
}

.profile-role {
    font-size: 0.875rem;
    color: #6b7280;
}

.profile-description {
    font-size: 0.875rem;
    width: 50%;
    text-align: justify;
}

.action-buttons {
    display: flex;
    margin-top: 1rem;
}

.add-friend-button,
.message-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    border-radius: 0.375rem;
    cursor: pointer;
    text-decoration: none;
}

.add-friend-button {
    background-color: #2563eb;
    color: white;
}

.add-friend-button:hover {
    background-color: #1d4ed8;
}

.message-button {
    margin-left: 0.5rem;
    border: 1px solid #e5e7eb;
    color: #111827;
    background-color: white;
}

.message-button:hover {
    background-color: #f3f4f6;
    color: #2563eb;
}

.message-button.dark {
    color: #d1d5db;
    border-color: #4b5563;
    background-color: #1f2937;
}

.message-button.dark:hover {
    background-color: #374151;
}

/* Extra space */

.section-card {
    border: 1px solid #E5E7EB; /* Equivalent to border-gray-200 */
    border-radius: 0.5rem; /* Equivalent to rounded-lg */
    padding: 2rem; /* Equivalent to p-8 */
    width: 50%;
}

.badge {
    display: inline-flex;
    align-items: center;
    background-color: #DBEAFE; /* Equivalent to bg-blue-100 */
    color: #1E40AF; /* Equivalent to text-blue-800 */
    font-size: 0.75rem; /* Equivalent to text-xs */
    font-weight: 500; /* Equivalent to font-medium */
    padding: 0.125rem 0.625rem; /* Equivalent to px-2.5 py-0.5 */
    border-radius: 0.375rem; /* Equivalent to rounded-md */
    margin-bottom: 0.5rem; /* Equivalent to mb-2 */
    text-decoration: none;
}

.badge svg {
    width: 0.625rem; /* Equivalent to w-2.5 */
    height: 0.625rem; /* Equivalent to h-2.5 */
    margin-right: 0.375rem; /* Equivalent to me-1.5 */
    margin-top: -1px;
}

.section-card #code {
    background-color: #DEF7EC;
}

.section-card a {
    font-size: .75rem;
}

.title {
    color: #1F2937; /* Equivalent to text-gray-900 */
    font-size: 1.875rem; /* Equivalent to text-3xl */
    font-weight: 800; /* Equivalent to font-extrabold */
    margin-bottom: 0.5rem; /* Equivalent to mb-2 */
}

.text {
    font-size: 1rem; /* Equivalent to text-lg */
    font-weight: 400; /* Equivalent to font-normal */
    color: #6B7280; /* Equivalent to text-gray-500 */
    margin-bottom: 1.5rem; /* Equivalent to mb-6 */
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 1.25rem; /* Equivalent to py-2.5 px-5 */
    font-size: 1rem; /* Equivalent to text-base */
    font-weight: 500; /* Equivalent to font-medium */
    color: #FFFFFF; /* Equivalent to text-white */
    background-color: #1D4ED8; /* Equivalent to bg-blue-700 */
    border-radius: 0.5rem; /* Equivalent to rounded-lg */
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1E40AF; /* Equivalent to hover:bg-blue-800 */
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem #93C5FD; /* Equivalent to focus:ring-4 focus:ring-blue-300 */
}

.grid {
    display: grid;
    grid-template-columns: 1fr; /* Equivalent to grid-cols-1 */
    gap: 2rem; /* Equivalent to gap-8 */
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Equivalent to md:grid-cols-2 */
    }
}

.icon {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
}

/* Side panel */

.info-container {
    width: 40%;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #111827;
}

.description {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 16px;
}

.wallet-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wallet-item {
    margin-bottom: 12px;
}

.wallet-link {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 16px;
    color: #111827;
    background-color: #f9fafb;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.wallet-link:hover {
    background-color: #f1f5f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.wallet-icon {
    height: 20px;
    width: auto;
}

.wallet-name {
    flex: 1;
    margin-left: 12px;
    white-space: nowrap;
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: 500;
    color: #6b7280;
    background-color: #e5e7eb;
    border-radius: 12px;
    margin-left: 12px;
}

.more-info {
    margin-top: 16px;
    margin-left: 3px;
}

.more-info-link {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #6b7280;
    text-decoration: none;
}

.info-icon {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

/*
.form {
    background: url("assets/personal-pictures/preikestolen.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 27em;
    height: 27em;
    box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
    animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60% ;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
}
 */

/* Chapters & heading */

.chapter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-chapter {
    width: 49vw;
}

.heading {
    font-size: 1.75rem; /* Equivalent to text-4xl */
    font-weight: 700; /* Equivalent to font-bold */
    color: #111827; /* Dark text color */
}

/* timeline */

.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline {
    position: relative;
    border-left: 2px solid #e5e7eb; /* Light gray border for the timeline */
    padding-left: 1rem; /* Space for the timeline markers */
}

.timeline-item {
    position: relative;
    margin-bottom: 2.5rem; /* Space between items */
    padding-left: 1.5rem; /* Space for the timeline marker */
}

.timeline-marker {
    position: absolute;
    left: -1.5rem; /* Move marker to the left */
    top: 1.5rem; /* Space from the top of the item */
    width: 0.75rem; /* Marker width */
    height: 0.75rem; /* Marker height */
    background-color: #e5e7eb; /* Light gray background for the marker */
    border-radius: 50%; /* Round shape */
    border: 2px solid #ffffff; /* White border */
}

.timeline-date {
    margin-bottom: 0.25rem; /* Space below the date */
    font-size: 0.875rem; /* Small text */
    color: #9ca3af; /* Gray color for the date */
}

.timeline-title {
    font-size: 1.125rem; /* Larger text for the title */
    font-weight: 600; /* Bold text */
    color: #111827; /* Dark text color */
}

.timeline-description {
    margin-bottom: 1rem; /* Space below the description */
    font-size: 1rem; /* Base text size */
    color: #6b7280; /* Gray color for the description */
}

.timeline-link {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem; /* Padding for the button */
    font-size: 0.875rem; /* Small text size */
    font-weight: 500; /* Medium weight */
    color: #111827; /* Dark text color */
    background-color: #ffffff; /* White background */
    border: 1px solid #e5e7eb; /* Light gray border */
    border-radius: 0.375rem; /* Rounded corners */
    text-decoration: none; /* Remove underline */
}

.timeline-link:hover {
    background-color: #f3f4f6; /* Light gray background on hover */
    color: #3b82f6; /* Blue color on hover */
}

.timeline-icon {
    width: 0.875rem; /* Icon size */
    height: 0.875rem; /* Icon size */
    margin-left: 0.5rem; /* Space between text and icon */
    color: #3b82f6; /* Blue color for the icon */
}

/* Skills */

.table-container {
    position: relative;
    overflow-x: auto;
}

.table {
    width: 50vw;
    text-align: left;
    font-size: 0.875rem; /* Equivalent to text-sm */
    color: #6B7280; /* Equivalent to text-gray-500 */
}

.table-header {
    font-size: 0.75rem; /* Equivalent to text-xs */
    text-transform: uppercase; /* Equivalent to uppercase */
    color: #374151; /* Equivalent to text-gray-700 */
    background-color: #F9FAFB; /* Equivalent to bg-gray-50 */
}

.table-header-cell {
    padding: 0.75rem; /* Equivalent to px-6 py-3 */
}

.table-body .table-row {
    background-color: #FFFFFF; /* Equivalent to bg-white */
    border-bottom: 1px solid #D1D5DB; /* Equivalent to border-b */
}

.table-row:last-child {
    border-bottom: none;
}

.table-row-header {
    padding: 1rem 0.75rem; /* Equivalent to px-6 py-4 */
    font-weight: 500; /* Equivalent to font-medium */
    color: #111827; /* Equivalent to text-gray-900 */
    white-space: nowrap; /* Equivalent to whitespace-nowrap */
}

.table-cell {
    padding: 1rem 0.75rem; /* Equivalent to px-6 py-4 */
}

/*a d  */

#skills {
    display: flex;
    justify-content: center;
    align-content: center;
}

#tech-h2-text {
    margin-top: 200px;
}

.skills-content {
    width: 55%;
    display: block;
}

.skill-new {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    filter: brightness(0) invert(.4);
    font-size: 15px;
}

.skill-new:hover {
    transform: scale(1.02);
    filter: none;
}

.skill-icon-new {
    margin-bottom: 5px;
    width: 47px;
    height: 47px;
}

.skillrow {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skillrow h2 {
    font-size: 20px;
}

.skill-container {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 2px;
}

/* Projects */

#projects {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 400px;
}

.projects-wrapper {
    width: 55vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust this for the number of columns */
    gap: 30px; /* Adjust the gap between the project cards */
}

.project-card {
    background-color: white; /* bg-white */
    border: 1px solid #e5e7eb; /* border-gray-200 */
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow */
    transition: background-color 0.3s ease; /* for hover effects */
}

.project-card.dark {
    background-color: #1f2937; /* dark:bg-gray-800 */
    border-color: #374151; /* dark:border-gray-700 */
}

.card-image {
    border-top-left-radius: 0.5rem; /* rounded-t-lg */
    border-top-right-radius: 0.5rem; /* rounded-t-lg */
    width: 100%;
    height: auto;
}

.card-content {
    padding: 1.25rem; /* p-5 */
}

.card-title {
    margin-bottom: 0.5rem; /* mb-2 */
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold; /* font-bold */
    letter-spacing: -0.01562em; /* tracking-tight */
    color: #111827; /* text-gray-900 */
}

.card-title.dark {
    color: #ffffff; /* dark:text-white */
}

.card-description {
    margin-bottom: 0.75rem; /* mb-3 */
    font-weight: normal; /* font-normal */
    color: #374151; /* text-gray-700 */
}

.card-description.dark {
    color: #d1d5db; /* dark:text-gray-400 */
}

.card-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.75rem; /* px-3 py-2 */
    font-size: 0.875rem; /* text-sm */
    text-align: center; /* text-center */
    color: white; /* text-white */
    background-color: #2563eb; /* bg-blue-700 */
    border-radius: 0.375rem; /* rounded-lg */
    transition: background-color 0.3s ease, ring-color 0.3s ease; /* for hover and focus effects */
    text-decoration: none; /* Remove underline from links */
}

.card-button:hover {
    background-color: #1d4ed8; /* hover:bg-blue-800 */
}

.card-button:focus {
    outline: 2px solid #3b82f6; /* focus:ring-4 focus:outline-none focus:ring-blue-300 */
    outline-offset: 2px; /* focus:ring-offset-4 */
}

.card-button.dark {
    background-color: #4f46e5; /* dark:bg-blue-600 */
}

.card-button.dark:hover {
    background-color: #4338ca; /* dark:hover:bg-blue-700 */
}

.card-button.dark:focus {
    outline: 2px solid #2563eb; /* dark:focus:ring-blue-800 */
}

.card-icon {
    margin-left: 0.5rem; /* ms-2 */
    width: 1.75rem; /* w-3.5 */
    height: 1.75rem; /* h-3.5 */
    transform: rotate(0deg); /* rotate-0, adjusted as needed */
}

.card-icon.rtl {
    transform: rotate(180deg); /* rtl:rotate-180 */
}


@media screen and (max-width: 1920px) { /* Laptop */

    header .header-content {
        width: 82%;
    }

    /* Home page */

    #home-page {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .home-container {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 85%; /* width of home screen */
    }

    #home-text-top {
        font-size: 18px;
    }

    #home-text-title {
        font-size: 46px;
    }

    #home-text-description {
        width: 90%;
        font-size: 20px;
    }

    .form {
        justify-content: center;
        align-items: center;
        margin-bottom: -15px;
        width: 19rem;
        height: 19rem;
    }

    /* About me */

    .about-content {
        width: 85%;
    }

    /* Skills */

    .skills-content {
        width: 85%;
    }

    /* Projects */

    .projects-container {
        width: 85%;
    }

    footer .footer-content {
        width: 85%; !important;
    }
}

@media only screen and (max-width: 1170px) { /* Phone */
    /* Home page */

    .projects-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Adjust this for the number of columns */
        gap: 20px; /* Adjust the gap between the project cards */
    }

    .form {
        justify-content: center;
        align-items: center;
        width: 48rem;
        height: 48rem;
        margin-top: -150px;
        margin-left: 230px;
    }

    #home-page {
        display: flex;
        width: 100vw; !important;
        justify-items: center;
        align-content: center;
        margin-bottom: 800px;
    }

    .home-container {
        position: relative;
        text-align: left;
        height: 100vh;
        width: 100vw;
    }

    .text-container {
        margin-top: 1050px;
        width: 100vw;
        margin-left: 80px;
    }

    .home-image-container {
        position: absolute;
        margin-top: 300px;
        margin-left: 0;
    }

    #home-text-top {
        font-size: 58px;
    }

    #home-text-title {
        font-size: 104px;
    }

    #home-text-description {
        font-size: 60px;
    }

    .home-attributes {
        display: block;
        font-size: 50px;
    }

    .resume-icon {
        width: 50px;
        height: 50px;
    }

    .location-icon {
        margin-left: -20px;
        width: 75px;
        height: 75px;
    }

    .home-text-location-container {
        margin-top: 30px;
    }

    .home-text-location {
        margin-top: 8px;
    }

    .home-text-resume {
        margin-bottom: 8px;
        margin-top: 5px;
    }

    #resume-a {
        font-size: 36px;
    }

    .resume-ref {
        width: 40px;
        height: 40px;
        margin-bottom: -13px;
    }

    /* About me */

    .about-content {
        width: 85vw;
        margin-left: -10px;
        display: block;
    }

    .about-description {
        font-size: 46px;
        width: 100vw;
    }

    .text-label .h2-label {
        font-size: 68px !important;
        margin-left: -80px;
    }

    .img-container {
        width: 126% !important;
        height: 40%;
        margin: 100px 5px 0 0;
    }

    .slide {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    .img-buttons button {
        margin-top: 20px;
        width: 75px;
        height: 75px;
        font-size: 50px;
    }

    /* Skills */

    #skills {
        width: 100vw;
        margin-left: -40px;
    }

    .skillrow div h2 {
        font-size: 68px;
    }

    .skill-container {
        margin-top: 120px;
        margin-bottom: 120px;
        width: 160%;
        margin-left: -100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .skill-new {
        display: flex;
        align-items: center;
        font-size: 46px;
    }

    .skill-icon-new {
        width: 130px;
        height: 130px;
    }

    /* Projects */

    #projects {
        width: 100vw;
        margin-left: -40px;
    }

    .project-ref {
        width: 40px;
        height: 40px;
    }

    .project-container {
        margin-bottom: 700px;
    }

    .title-box {
        width: 150%;
    }

    .project-description {
        width: 140% !important;
        font-size: 50px;
        text-align: justify;
    }

    .project-image {
        width: 140%;
    }

    .project-utils {
        width: 140%;
        display: block;
    }

    .project-utils p {
        display: inline-block;
        padding: 15px;
        font-size: 42px;
    }

    /* Footer */

    .footer-content {
        display: block;
    }

    #copyright {
        text-align: center;
        margin: -300px 0 120px 0 !important;
        font-size: 40px;
        width: 130%;
    }

    .footer-links-container {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-right: -125px;
        margin-bottom: 100px;
    }

    .footer-links-container a {
        font-size: 38px !important;
        text-align: center;
    }

    /* Labels */

    .text-label {
        margin-left: 75px;
    }

    .text-label .h2-label {
        width: 100%;
        font-size: 56px;
    }

    .text-label .description-label {
        width: 100%;
        font-size: 38px !important;
    }

    /* ============================== */

    #projects {
        margin-top: 200px;
    }

    #home {
        margin-bottom: 1200px;
    }

    #home-box-text {
        width: 100vw;

        text-align: left;
    }

    .home-box-name-class {
        text-align: center;
        font-size: 56px;
    }

    #home-box-text h1 {
        text-align: center;
        margin-left: 50px;
        margin-bottom: 10px;
        font-size: 102px;
    }

    #home-box-text h3 {
        font-size: 50px;
        width: 100%;
    }

    .project-box-picture {
        margin-top: 100px;
        width: 70vw;
    }

    .image-container {
        width: 100%;
    }

    #home-box-text p {
        font-size: 44px;
        font-weight: normal;
        width: 100%;
    }

    .languages-container div {
        font-size: 28px;
    }

    .project-box-picture {
        margin-left: 75px;
        margin-top: 500px;
        width: 90vw;
    }

    .project-box-info {
        margin-right: 75px;
    }

    .project-box-info h1 {
        font-size: 38px;
    }

    .project-box-info p {
        font-size: 28px;
    }

    .small-lang-icon {
        width: 50px;
        height: auto;
    }

    #tech-h2 {
        margin-top: 1000px;
    }

    #tech-h2-text {
        font-size: 56px;
    }

    .block {
        margin-bottom: 100px;
        width: 100%;
        height: 85%;
    }

    .block .tech-icon {
        width: 40%;
        height: auto;
    }

    .block p {
        font-size: 56px;
    }

    .block ul li {
        font-size: 46px;
    }

    .home-box {
        flex-direction: column-reverse;
        text-align: center;
    }

    #home-box-text {
        margin-bottom: 20px;
    }

    .project-box {
        display: flex;
        flex-direction: column;
    }

    .image-container {
        margin-bottom: 10px;
    }

    .projects {
        margin-bottom: -600px;
    }

    .project-box-info {
        margin-left: 165px;
        width: 90%;
    }

    #image-div img {
        max-width: 100%;
        height: auto;
    }

    #image-div,
    #list-div,
    .dropdown {
        flex: 1 1;
        width: 500px;
    }

    .small-lang-icon {
        margin-bottom: -12px;
        margin-right: 10px;
    }

    #popupBtn {
        width: 400px;
        float: left;
        display: inline;
        background-color: #fff;
    }

    .project-box-info p {
        font-size: 42px;
        line-height: 50px;
    }

    .project-title {
        font-size: 86px;
    }

    #wvd-logo {
        width: 100px;
        margin-left: 35px;
        margin-right: -20px;
    }

    .mobile-hamburger-menu {
        display: flex;
        margin-top: 15px;
        margin-left: 50px;
        border: none;
        background-color: #fff;
        align-items: center;
        text-align: center;
    }

    button#hamburger-button.mobile-hamburger-menu {
        width: 20px;
    }

    .dropdown-content {
        width: 300px;
    }

    .dropdown-content a {
        height: 80px;
        background-color: #fff;
        color: #000;
        font-size: 32px;
    }

    div#list-div.navigation-holder {
        width: 20px;
    }

    #directory-ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #directory-list.show #directory-ul {
        display: flex;
        background-color: #fff;
    }

    .mobile-hamburger-menu:hover #directory-ul {
        display: flex;
    }

    div.dropdown {
        text-align: center;
    }

    #directory-list {
        display: flex;
        align-items: center;
    }

    .dropdown {
        align-content: end;
        text-align: left;
    }

    #job-title {
        text-align: center;
        margin-left: 20px;
    }

    #directory-ul a {
        height: 90px;
        text-align: center;
        margin: 10px 0;
    }
}