@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    scroll-behavior: smooth;
    --text-color-black: #000;
    --text-color-white: #fff;
}

body {
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #fff; /* background-color: #000 OR #fff */
    color: var(--text-color-black);
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: #111;
    border-bottom: 1px solid #444;
    color: var(--text-color-white);
    height: 20px;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.branding h1 {
    font-size: 1em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: var(--text-color-white);
    text-decoration: none;
    font-size: 0.8em;
    line-height: 20px; /* Vertically centers the text */
}

.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.social-links ul li {
    margin-left: 15px;
}

.social-links ul li a {
    color: var(--text-color-white);
    text-decoration: none;
    font-size: 0.8em;
    line-height: 20px; /* Vertically centers the text */
}

/* W SCREEN */

.main-screen-holder {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 90vh;
    display: flex;
    margin-bottom: 100px;
}

.w-container {
    margin-top: auto;
    margin-bottom: auto;
}

/* WELCOME MESSAGE */

.welcome-message-container {
    justify-content: center;
    margin-bottom: 40px;
}

.welcome-inner-content {
    display: flex;
    justify-content: center;
}

.welcome-border-content {
    display: flex;
}

.welcome-border-innhold {
    display: flex;
}

.welcome-message-container img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.welcome-message-text-container {
    height: 50px;
    border-radius: 40px;
    border: black 1px solid;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 20px;
    margin-top: 2px;
}

.welcome-message-text-container p {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
}

/* FLEX BALKS */

.flex-balk {
    margin-top: -80px;
    margin-bottom: -110px;
    display: flex;
    justify-content: center;
}

.quote-balk {
    margin-top: -40px;
    margin-bottom: -40px;
    display: flex;
    justify-content: center;
}

.quote-balk-content {
    width: 70%;
}

.flex-balk h1 {
    font-weight: 600;
    font-size: 6rem;
    line-height: 1;
}

.quote-balk p {
    margin-top: 60px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: var(--text-color-black);
}

.flex-balk-text-block-right {
    text-align: left;
    margin-left: 20px;
    margin-top: 105px;
}

.flex-balk-text-block-left {
    text-align: left;
    margin-right: 20px;
    margin-top: 105px;
}

#flex-balk-full-stack {
    color: rgb(54 186 152/1);
}

#flex-balk-software {
    color: rgb(233 196 106/1);
}

#flex-balk-developer {
    color: rgb(244 162 97/1);
}

.text-accenta {
    color: rgb(54 186 152/1);
}

.text-accentb {
    color: rgb(233 196 106/1);
}

.text-accentc {
    color: rgb(244 162 97/1);
}

@media screen and (max-width: 1920px) {
    .flex-balk h1 {
        font-size: 4.875rem;
    }

    .quote-balk-content p {
        font-size: 1.5rem
    }

    .flex-balk-text-block-left {
        margin-top: 70px;
    }

    .flex-balk-text-block-right {
        margin-top: 73px;
    }

    .welcome-message-text-container p {
        font-size: 1rem;
    }
}

/* TECH STACK */

.tech-stack {
    margin-top: 50px;
    margin-bottom: 400px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tech-stack-container {
    width: 60%;
}

.tech-stack-content {
    display: flex;
    justify-content: center;
}

.tech-stack-inner-content h2 {
    line-height: 1.25rem;
    font-size: 2.25rem;
    margin-bottom: 10px;
    color: rgb(54 186 152/1);
}

.tech-stack-p-container {
    display: flex;
    justify-content: center;
}

.tech-stack-p-container p {
    font-size: 1.875rem;
    margin-bottom: 20px;
    width: 70%;
}

.highlighta {
    color: rgb(54 186 152/1);
}

.highlightb {
    color: rgb(233 196 106/1);
}

.highlightc {
    color: rgb(244 162 97/1);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos-container {
    display: flex;
    justify-content: center;
}

.logos {
    width: 80%;
    overflow: hidden;
    padding: 20px 0; /* 60px == top & bottom, 0 == left & right | 60px 0 0 0: top right bottom left*/
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos::before {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--text-color-white));
    left: 0;
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--text-color-white));
}

.logos-slide {
    display: inline-block;
    animation: 8s slide infinite reverse forwards linear;
}

.logos-slide img {
    margin: 0 5px;
    width: 72px;
    height: 72px;
}

/*
@media screen and (max-width: 1920px) {
    .tech-stack-container h2 {
        font-size: 1.5rem;
    }

    .tech-stack-container p {
        font-size: 1.5rem;
    }
}

 */

/* PROJECTS */

.project-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto 400px auto;
}

.project-container h2 {
    font-size: 2.25rem;
}

.project-container a {
    text-decoration: none;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    color: var(--text-color-black);
    text-decoration: none;
}

.project-item:hover {
    transform: scale(1.03);
    background-color: #f6f6f6;
}

.project-title h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.project-title p {
    margin: 0;
    font-size: 1em;
    color: #888888;
    text-decoration: none;
}

.project-details h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
    color: #CCCCCC;
}

.project-details p {
    margin: 0;
    font-size: 1em;
    color: #BBBBBB;
}

/* FOOTER */

.custom-footer {
    color: rgb(233, 196, 106); /* Primary text color */
    display: flex;
    justify-content: center;
    text-align: center;
}

.outer-footer-container {
    border-radius: .75rem;
    border: rgb(50 50 40 /1) solid 1px;
    padding: 40px 20px;
    width: 80%;
}

.custom-footer .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    flex-wrap: wrap;
}

.custom-footer .left {
}

.custom-footer .left,
.custom-footer .center,
.custom-footer .right {
    flex: 1;
    margin: 10px;
}

.custom-footer .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color-black);
    margin-right: 20px;
}

.custom-footer .highlighta {
    color: rgb(244, 162, 97);
}

.custom-footer .highlightb {
    color: rgb(233 196 106/1);
}

.custom-footer .center h3,
.custom-footer .right h3 {
    color: rgb(54 186 152/1);
}

.custom-footer nav a {
    display: block;
    margin: 5px 0;
    color: var(--text-color-black);
    text-decoration: none;
}

.custom-footer .right a {
    color: var(--text-color-black);
    display: flex;
    align-items: center;
    margin: 5px 0;
    text-decoration: none;
}

.custom-footer .right a:hover {
    color: #2c2c2c;
}

.custom-footer .right a img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.custom-footer .bottom {
    margin-top: 20px;
    font-size: 14px;
}

/* BELOW FOOTER */

.below-footer-container {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.below-footer-content {
    width: 80%;
    display: flex;
}

.copyright-container {
    width: 50%;
}

.location-container {
    width: 50%;
    text-align: right;
}