@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #fff; /* background-color: #000 OR #fff */
    color: black;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: #111;
    border-bottom: 1px solid #444;
    color: #fff;
    height: 20px;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.branding h1 {
    font-size: 1em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    line-height: 20px; /* Vertically centers the text */
}

.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.social-links ul li {
    margin-left: 15px;
}

.social-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    line-height: 20px; /* Vertically centers the text */
}

/* W SCREEN */

.main-screen-holder {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 95vh;
    display: flex;
}

.w-container {
    margin-top: auto;
    margin-bottom: auto;
}

/* WELCOME MESSAGE */

.welcome-message-container {
    justify-content: center;
    margin-bottom: 40px;
}

.welcome-inner-content {
    display: flex;
    justify-content: center;
}

.welcome-border-content {
    display: flex;
}

.welcome-border-innhold {
    display: flex;
}

.welcome-message-container img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.welcome-message-text-container {
    height: 50px;
    border-radius: 40px;
    border: black 1px solid;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 20px;
    margin-top: 2px;
}

.welcome-message-text-container p {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
}

/* FLEX BALKS */

.flex-balk {
    margin-top: -80px;
    margin-bottom: -110px;
    display: flex;
    justify-content: center;
}

.quote-balk {
    margin-top: -40px;
    margin-bottom: -40px;
    display: flex;
    justify-content: center;
}

.quote-balk-content {
    width: 70%;
}

.flex-balk h1 {
    font-weight: 600;
    font-size: 6rem;
    line-height: 1;
}

.quote-balk p {
    margin-top: 60px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: rgb(0 0 0/1);
}

.flex-balk-text-block-right {
    text-align: left;
    margin-left: 20px;
    margin-top: 105px;
}

.flex-balk-text-block-left {
    text-align: left;
    margin-right: 20px;
    margin-top: 105px;
}

#flex-balk-full-stack {
    color: rgb(54 186 152/1);
}

#flex-balk-software {
    color: rgb(233 196 106/1);
}

#flex-balk-developer {
    color: rgb(244 162 97/1);
}

.text-accenta {
    color: rgb(54 186 152/1);
}

.text-accentb {
    color: rgb(233 196 106/1);
}

.text-accentc {
    color: rgb(244 162 97/1);
}

/* PROJECTS */

.projects {
    padding: 50px;
}

.projects-title {
    font-size: 36px;
    margin-bottom: 30px;
    color: #D4A373;
}

.project {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.project-image {
    flex: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-right: 1px solid #333;
}

.project-details {
    flex: 2;
    padding: 20px;
}

.project-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.visit-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #A58AFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.visit-button:hover {
    background-color: #D4A373;
}

/* TECH STACK */

.tech-stack {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.tech-stack h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #A58AFF;
}

.tech-stack p {
    font-size: 18px;
    margin-bottom: 20px;
}

.tech-stack .highlight {
    color: #A58AFF;
}

.marquee {
    overflow: hidden;
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.marquee-content {
    display: flex;
    width: calc(80% * 2);
    animation: marquee 15s linear infinite;
}

.marquee-content img {
    width: 72px;
    height: 72px;
    margin-right: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    border-top: 1px solid #444;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    padding: 20px;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer h2 {
    font-size: 48px;
    margin: 0;
    color: #F7F3D2;
}

.footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.highlight {
    color: #D4A373;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-links a {
    display: flex;
    align-items: center;
    color: #0f0;
}

.contact-links a::before {
    content: '➔';
    margin-right: 5px;
}

.bottom-bar {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
}