@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    scroll-behavior: smooth;
    --text-color-black: #000;
    --text-color-white: #fff;
}

body {
    background-color: rgba(0, 0, 0, .92); /* rgba(255, 255, 255, .92); */
    backdrop-filter: saturate(180%) blur(20px);
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    color: var(--text-color-white);
    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-behavior: smooth;
}

/* HEADER */

header {
    background-color: #111;
    border-bottom: 1px solid #444;
    color: var(--text-color-white);
    height: 20px;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.branding h1 {
    font-size: 1em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: var(--text-color-white);
    text-decoration: none;
    font-size: 0.8em;
    line-height: 20px; /* Vertically centers the text */
}

.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.social-links ul li {
    margin-left: 15px;
}

.social-links ul li a {
    color: var(--text-color-white);
    text-decoration: none;
    font-size: 0.8em;
    line-height: 20px; /* Vertically centers the text */
}

@media screen and (max-width: 1170px) {
    header {
        height: 60px;
    }

    .header-content {
        width: 95%;
    }

    .branding h1 {
        font-size: 1.5rem;
    }

    .header-content nav ul li a {
        font-size: 1.5rem;
    }

    .social-links ul li a {
        font-size: 1.5rem;
    }
}

/* MAIN SCREEN LAYOUT */

.main-screen-wrapper {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.main-screen-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.main-screen-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    width: 70%;
}

/* PROFILE CARD */

.profile-card {
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: saturate(300%) blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid  rgba(10, 4, 14, 0.1);
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    border-radius: 17px;
    height: 86%;
}

.profile-card-container {
    border-radius: 20px;
    grid-column: 1 / span 2;
    height: 100%;
    grid-row: 1 / span 1;
    background: url("assets/gradients/blue-purple.png");
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.intro {
    flex-grow: 1;
}

.intro h1 {
    margin: 0;
    font-size: 1.2em;
}

.intro p {
    margin: 0;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
}

.social-icons a {
    margin-left: 5px;
    margin-right: 12px;
    background-color: rgba(255, 255, 255, .1);
    padding: 7px 7px 2px 7px;
    border-radius: 5px;
}

.social-icons a:hover {
    background-color: rgba(255, 255, 255, .2);
}

.social-icons img {
    filter: invert(1);
    width: 14px;
    height: 14px;
}

.content h2 {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content p {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
}

.cv-container a {
    color: white;
    text-decoration: none;
    margin-bottom: auto;
    font-size: .8rem;
}

.cv-container a:hover {
    text-decoration: underline;
    -webkit-animation: glow 5s ease-in-out infinite alternate;
    -moz-animation: glow 5s ease-in-out infinite alternate;
    animation: glow 5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1px #fff;
    }
    to {
        text-shadow: 0 0 1px #fff;
    }
}

/* PHOTOS CARD */

.photos-card {
    grid-column: 3;
    background: linear-gradient(135deg, rgba(10, 4, 14, 0.1), rgba(15, 7, 5, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(10, 4, 14, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    position: relative;
    overflow: hidden;
}

.photos-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    border-radius: 15px;
    pointer-events: none; /* Ensure it doesn't interfere with any interactions */
}

.photos-card-container {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    border-radius: 15px;
    height: 60%;
}

.photos-card-img-container img {
    background: url("assets/preikestolen_bilde.png");
    border-radius: 15px;
}

.photos-card p {
    position: absolute;
    margin-top: -35px;
    margin-left: 20px;
    z-index: 2;
    font-size: .875rem;
}

.photos-card img {
    width: 100%;
    height: 100%;
}

/* STATS CARD */

.stats-card {
    background: linear-gradient(135deg, rgba(10, 4, 14, 0.1), rgba(15, 7, 5, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(10, 4, 14, 0.1);
    padding: 3px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    position: relative;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.stats-card-container {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-radius: 16px;
}

.stats-title-container h2 {
    text-align: left;
    font-weight: 450;
    margin-left: 15px;
    font-size: 1rem;
}

.stats-item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 15px -25px 15px 20px;
}

.stats-item {
    display: inline-block;
    align-items: flex-start;
    padding: 5px;
}

.stats-item p {
    margin-top: 0;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
}

.stats-item img {
    margin-left: -95px;
    width: 25px;
    height: 25px;
}

.stats-highlights {
    color: #fff;
}

/* NEXT UP CARD */

.next-up-card {
    background-color: rgba(0, 0, 0, .92);
    backdrop-filter: saturate(180%) blur(20px);
    grid-column: 1;
    height: 81%;
    grid-row: 2;
    background-color: #5e5e5e;
    padding: 20px;
    border-radius: 15px;
    background: url("assets/kvelertak.png");
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    position: relative;
    overflow: hidden;
}

.next-up-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    border-radius: 15px;
    pointer-events: none;
}

.next-up-card-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.bottom-card-part {
    display: flex;
    position: absolute;
    margin-top: 110px;
}

.next-up-card h2 {
    font-size: 1.5rem;
    margin-top: 0;
    z-index: 2;
}

.bottom-card-part h5 {
    margin-top: 7px;
    font-size: 1rem;
    margin-left: 5px;
    z-index: 2;
    font-weight: 700;
}

.bottom-card-part img {
    width: 25px;
    height: 25px;
    z-index: 2;
    filter: brightness(0) invert(1);
}

.next-up-artist {
    font-weight: 300;
}

/* CONTACT CARD */

.finance-container {
    border-radius: 16px;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    align-items: center;
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    justify-content: center;
}

.finance-card {
    background: linear-gradient(135deg, rgba(10, 4, 14, 0.1), rgba(15, 7, 5, 0));
    border-radius: 15px;
    backdrop-filter: saturate(300%) blur(1);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(10, 4, 14, 0.1);
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.finance-title-container {
    text-align: left;
    margin-left: 0;
    margin-top: -15px;
}

.finance-title-container h2 {
    font-size: 1rem;
    font-weight: 450;
}

.stock-element-container {
    margin-top: 20px;
}

.stock-element {
    margin-top: 10px;
}

.stock-element img {
    border-radius: 20px;
    width: 100%;
    height: 40px;
}

.stock-element .netflix {

}

/* TECH STACK */

.tech-stack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tech-stack-content {
    width: 60vw;
}

.tech-stack-row {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 81%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(10, 4, 14, 0.1), rgba(15, 7, 5, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(10, 4, 14, 0.1);
    padding: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
}

.tech-stack-row img {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.project-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-title {
    display: inline-block;
    font-size: 2rem;
    line-height: 1;
    background: linear-gradient(90deg, rgb(255, 167, 69) -45%, rgb(254, 134, 159) 10%, rgb(239, 122, 200) 25%, rgb(160, 131, 237) 60%, rgb(67, 174, 255) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tech-stack-row-title {
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    background: linear-gradient(90deg, rgb(255, 167, 69) -45%, rgb(254, 134, 159) 10%, rgb(239, 122, 200) 25%, rgb(160, 131, 237) 60%, rgb(67, 174, 255) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* PROJECTS */

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.project-inner-content {
    width: 65vw;
}

.project-element {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 81%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(10, 4, 14, 0.1), rgba(15, 7, 5, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(10, 4, 14, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    padding: 25px;
    margin: 20px;
}

.project-title {
    margin-left: 0;
    width: 70%;
}

.project-title h2 {
    display: inline-block;
    line-height: 1;
    background: linear-gradient(90deg, rgb(255, 167, 69) -45%, rgb(254, 134, 159) 10%, rgb(239, 122, 200) 25%, rgb(160, 131, 237) 60%, rgb(67, 174, 255) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10px;
}

.project-title p {
    margin: 0;
    font-size: 1em;
    color: #888888;
    text-decoration: none;
}

.project-details {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.project-button {
    color: white;
    height: 50px;
    width: 150px;
    background-color: black;
    border-radius: 5px;
    border-color: transparent;
    font-size: 1rem;
}

.project-button a {
    color: white;
    text-decoration: none;
}

.project-button:hover {
    transform: scale(1.02);
    border-image: linear-gradient(90deg, rgb(255, 167, 69) -45%, rgb(254, 134, 159) 10%, rgb(239, 122, 200) 25%, rgb(160, 131, 237) 60%, rgb(67, 174, 255) 80%) 1;
    cursor: pointer;
}

/* FOOTER */

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    display: inline-block;
    line-height: 1;
    background: linear-gradient(90deg, rgb(255, 167, 69) -45%, rgb(254, 134, 159) 10%, rgb(239, 122, 200) 25%, rgb(160, 131, 237) 60%, rgb(67, 174, 255) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 25px 0;
    font-size: .8rem;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10px;
}

