.about-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: white;
    background-color: #111111;
}

.about-view-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
}

.about-social-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-social-container {
    display: flex;
    gap: 20px;
}

.about-social-container img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.about-span {
    color: #007bff;
}