.about-container {
    width: 100%;
    max-width: 540px;
}

.about-content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.section-title {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
    line-height: 1.5em;
    margin-left: 10px;
}

.about-section-title {
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 1.9s cubic-bezier(0.5, 0, 0.3, 1) forwards;
}

.about-texts {
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    width: 100%; 

    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 2s cubic-bezier(0.5, 0, 0.3, 1) forwards;   
}

.about-texts p {
    color: rgba(126, 126, 126); 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .16px;
    line-height: 1.5em;
    margin-bottom: 30px;
    margin-top: 18px;
}

@media screen and (max-width: 1100px) {

    .about-container {
        width: 96%;
    }

    .about-texts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
    }

    .about-content {
        margin-left: 10px;
        justify-content: center;
        width: 100%;
    }
}