.about-container {
    padding: 30px 0;
    width: 100%;
    max-width: 540px;
}

.about-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    margin-left: 5px;
    width: 100%;
}

.section-title {
    width: 10%;
    text-align: right;
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.5em;
}

.about-texts {
    width: 90%;    
}

.about-texts p {
    color: rgba(0, 0, 0, .7);
    font-style: normal;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    letter-spacing: 0em;
    margin-bottom: 30px;
    margin-top: 18px;
}

@media screen and (max-width: 980px) {
    .section-title {
        display: none;
    }

    .about-texts {
        width: 95%;
    }

    .about-content {
        margin-left: 0;
        justify-content: center;
        width: 100%;
    }
}