.about-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.about-content {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.profile-picture {
    display: none;
}

.name-container {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.name-container h3 {
    font-family: 'Baron Neue', sans-serif;
    font-size: 6rem;
    line-height: 5.5rem;
    font-weight: 500;
    text-align: left;
    letter-spacing: -3px;
    color: #343a40;
    margin-bottom: 25px;
    /* margin-top: 0; */
}

.location-email .location {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(34, 34, 34, .5);
}

.mail {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(34, 34, 34, .9);
    text-decoration: none;
}

.location-email a:hover {
    color: #242423;
    text-decoration: underline #242423;
}

.about-content p {
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(34, 34, 34, .5);
    margin-bottom: 55px;
}

.social-icons-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-icons-container a {
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;

    justify-content: center;
    align-items: center;
}

.social-icons-container a:hover {
    cursor: pointer;
    background-color: #272727;

}

.social-icons-container a img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 1920px) {
    .about-content {
        height: 80%;
    }

    .about-container {
        height: 100vh;
    }

    .name-container h3 {
        font-size: 5rem;
        letter-spacing: .001cap;
    }
}

@media screen and (max-width: 1080px) {
    .about-container {
        height: 110vh;
    }

    .profile-picture {
        display: flex;
        max-width: 15rem;
        max-height: 15rem;
        border: 0.5rem solid rgba(000, 000, 000, 0.15);
        border-radius: 50%;
        margin-bottom: -50px;
        margin-top: -50px;
    }

    .name-container h3 {
        font-weight: 600;
        font-size: 6rem;
        margin-bottom: 40px;
    }

    .location-email .location {
        font-size: 1.3rem;
    }

    .mail {
        font-size: 1.3rem;
    }

    .about-content p {
        margin-top: 5px;
        font-size: 1.1rem;
    }
}