.education-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.education-content {
    width: 80%;
}

.education-title {
    font-size: 4rem;
    text-align: center;
    font-weight: 650;
    color: #27272a;
}

.education-description {
    opacity: .8;
    font-size: 18px;
    text-align: center;
    margin: -30px 0 50px 0;
}

.education-span {
    background: linear-gradient(90deg, rgb(69, 123, 255) -45%, rgb(69, 134, 254) 10%, rgb(122, 200, 239) 25%, rgb(131, 160, 237) 60%, rgb(67, 174, 255) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.education-special {
    color: #007bff;
}

.education-containers {
    justify-content: center;
    display: flex;
}

.education-containers-content {
    justify-content: center;
    display: flex;
    width: 50%;
}

.education-main-text-container {
    width: 70%;
}

.education-main-text-container p {
    opacity: .8;
    margin: -10px 0 30px 0;
}

.education-secundary-text-container {
    width: 50%;
    opacity: .8;
    margin: 5px 0 0 0;
}

.education-containers svg {
    width: 25px;
    height: 25px;
    margin: 18px 0 0 0;
}

.education-containers a {
    color: black;
    text-decoration: none;
}

.education-containers a:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (max-width: 1920px) {
    .education-title {
        font-size: 3.5rem;
    }

    .education-container {
        margin-top: 100px;
    }

    .education-containers-content {
        width: 80%;
    }
}