.education-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.education-content {
    width: 100%;
}

.education-inner-content {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.education-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 15px;
}

.education-block h3 {
    color: black;
    font-size: 1.25rem;
    margin: 0;
}

.education-school {
    color: rgba(51, 51, 51, .6);
    font-size: 1.1rem;
    margin: 8px 0 0 0;
}

.education-date {
    color: rgba(51, 51, 51, .6);
    font-size: 1rem;
    margin: 10px 0 0 0;
}

.vanlig {
    margin-left: 20rem; 
    width: 50%;
}

@media screen and (max-width: 1920px) {
    .education-info-wrapper .project-date {
        margin-right: 0;
    }
}

@media screen and (max-width: 1080px) {


    .vanlig {
        width: 100%;
        margin-left: 0;
    }

    .education-content .education-info-wrapper {
        display: flex;
        flex-direction: column;
    }

    .education-info-wrapper .project-date {
        width: 100%;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }
}