.education-container {
    width: 100%;
    margin: 50px 0;
}

.education-content {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.education-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    gap: 20px;
}

/* Education block */

.education-block {
    border-radius: 12px;
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    width: 100%;
}

.education-inner-block {
    flex: none;
    height: auto;
    min-width: 200px;
    position: relative;
    width: 100%;
}

.education-block-contents {
    color: #707070; 
    text-decoration: none;
    width: 100%;
    border-radius: 12px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education-block-contents:hover {
    cursor: pointer;
}

.education-block-info {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 100%;
}

.education-block-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.education-block-date {
    color: rgb(0, 0, 0);
    margin: 1px 0 0 0;
    width: 40%;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 160%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.education-block-name {
    font-size: 32px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 160%;
    text-align: start;
    color: rgb(0, 0, 0);
    width: 100%;
}

.education-block-school {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: rgb(174, 174, 174);
    margin: -5px 0 0 0;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 160%;
}

.education-block-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 160%;
    text-align: start;
    color: rgb(0, 0, 0);
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .education-container {
        margin: 20px 0;
    }

    .education-list {
        width: 95%;
        margin-left: 10px;
    }

    .education-block-info {
        flex-direction: column;
    }

    .education-block-name {
        font-size: 30px;
    }

    .education-block-date {
        justify-content: start;
    }

    .education-block-school {
        margin: 0 0 -4px 0;
    }
}