.floating-cursor {
    position: relative; 
    width: 36px; 
    height: 36px;
    top: 0;
    pointer-events: none;
    background: url('../assets/cursor.png') no-repeat center center;
    background-size: contain;
    z-index: 9999; 

    transform: translateY(-30px);
    opacity: 0;
    animation: slideIn 1.4s ease-out forwards;
    animation-delay: 0.5s; /* Delay before the animation starts */
}

@keyframes slideIn {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    35% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1080px) {
    .floating-cursor {
        margin-right: -100px;
    }
}