.header-container {
    display: none;
}

@media screen and (max-width: 1080px) {
    .header-container {
        display: flex;
        background-color: var(--theme-color);
        height: 55px;
    }

    .header-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        color: white;
        font-size: 1.3rem;
        margin-left: 15px;
        font-family: Hanken Grotesk, 'sans-serif';
    }

    .menu {
        margin-right: 8px;
        background-color: transparent;
        padding: 10px;
        border: none;
    }

    .menu svg {
        stroke: rgba(255, 255, 255, .5);
        width: 35px;
        height: 35px;
    }

    .header-list {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-top: 50px;
        top: 5px;
        
        width: 100%;
    }

    .header-list > * {
        text-decoration: none;
        padding: 14px;
        margin: -1px 0;
        background-color: var(--theme-color);

        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
    }

    .language-dropdown-wrapper {
        margin-top: -10px;
        margin-left: -20px;
    }
}