.home-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure video is behind the content */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Juster alpha-verdien for mørkere eller lysere effekt */
    z-index: 0; /* Sørg for at overleggen er over videoen, men under innholdet */
}

.form {
    background: url("../assets/jeg.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 20rem;
    height: 30rem;
    border-radius: 20px;
}

.home-content {
    margin-top: 100px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.home-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.home-wrapper {
    display: flex;   
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.home-image-wrapper {
    width: 50%;
    display: flex;
    justify-content: end;
}

.home-image-wrapper img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.home-text {
    width: 50%;
    color: #222;

    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft .5s ease-out forwards;
    animation-delay: .3s;
}

.name {
    font-size: 54px;
    font-weight: 600;
    line-height: 1;
    color: white;
    margin: 0 0 10px 0;
}

.norwegian-colors {
    background: linear-gradient(90deg, 
        #bbdefb 0%,  
        #90caf9 25%,  
        #64b5f6 50%,  
        #42a5f5 75%,  
        #2196f3 100%  
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.role {
    font-weight: 400;
    letter-spacing: -.2px;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 31px;
}

.description {
    color: white;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.description a {
    color: #3897e5;
    text-decoration: none;
}

.description a:hover {
    color: #58b8f8;
}

.social {
    color: #3897e5;
    text-decoration: none;
    margin-right: 30px;
}

.social:hover {
    color: #58b8f8; /* #2c6ac8 */

}
  
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1920px) {
    

    .form {
        height: 350px;
        width: 280px;
    }

    .home-content {
        margin-top: 30px;
        width: 90%;
    }

    .home-text-container {
        width: 90%;
    }

    .name {
        font-size: 40px;
    }

    .role {
        font-size: 22px;
    }
}

@media screen and (max-width: 1080px) {
    .home-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 160px;
    }

    .home-container {
        height: 120vh;
    }

    
    .background-video {
        height: 120vh;
    }

    .home-image-wrapper {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .form {
        width: 25rem;
        height: 22rem;
        margin-top: -125px;
        margin-bottom: 25px;
    }

    .home-text {
        width: 90%;
    }

    .home-wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
}