.seksjon {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.seksjon-wrapper {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.tekst-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 382px;
    display: flex;
}

.display {
    margin-bottom: 16px;
    font-size: 80px;
    font-weight: 500;
    line-height: 105%;
}

.tekst-span {
    color: var(--dark-blue);
}

.role {
    font-weight: 400;
    color: #5a5a5a;
    letter-spacing: -.2px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
}

.description {
    color: #222;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}

.description a {
    color: #222;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline #222;
}

.image-wrapper {
    background-image: url(../assets/main.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 8px;
    flex: 1;
    max-width: 532px;
    min-height: 786px;
    display: flex;
}

@media screen and (max-width: 1920px) {
    .image-wrapper {
        min-height: 400px;
        max-width: 300px;
    }

    .tekst-wrapper {
        max-width: 50%;
    }
    
    .display {
        font-size: 3.5rem;
    }

    .role {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 1080px) {
    .container {
        max-width: 100%;
        width: 100%;
    }

    .seksjon-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .display {
        margin: 20px 0;
    }

    .image-wrapper {
        max-width: 80%;
        min-height: 450px;
        max-height: 700px;
        width: 100%;
    }

    .tekst-wrapper {
        max-width: 80%;
        width: 100%;
    }
}