.intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -40px;
    margin-bottom: 5px;
}

.intro-content {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-tekst-wrapper {
    width: 60%;
}

.intro-title {
    background: linear-gradient(90deg, 
    rgb(74, 172, 197) -45%,   /* blue-green (#4AACC5) */
    rgb(113, 157, 254) 10%,   /* blue-violet (#719DFE) */
    rgb(212, 136, 248) 25%,   /* pink-purple (#D488F8) */
    rgb(240, 93, 114) 60%);   /* red-pink (#F05D72) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 650;
    letter-spacing: .01cm;
    font-size: 2.7rem;
    margin: 0 0 -17px 0;
    line-height: 1.5;

    transform: translateY(-30px);
    opacity: 0;
    animation: slideIn 1.6s ease-out forwards;
    animation-delay: 0.5s; 
}

.intro-job {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;

    transform: translateY(-30px);
    opacity: 0;
    animation: slideIn 1.4s ease-out forwards;
    animation-delay: 0.5s; 
}

.intro-description {
    margin-top: -4px;
    font-weight: 400;
    font-size: 16px;

    transform: translateY(-30px);
    opacity: 0;
    animation: slideInLowOpacity 1.2s ease-out forwards;
    animation-delay: 0.5s; 
}

.intro-image-wrapper {
    display: flex;
    justify-content: end;
    width: 30%;
}

.intro-image-wrapper img {
    border-radius: 25px;
    width: 250px;
    height: 350px;
   
    transform: translateY(-30px);
    opacity: 0;
    animation: slideIn 1.8s ease-out forwards;
    animation-delay: 0.5s; 
}

.social-links-container {
    display: flex;

    transform: translateY(-30px);
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.5s; 
}

.social-links-container a {
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    opacity: .6;
    font-weight: 0;

    color: black;
    text-decoration: none;
}

.intro-a {
    color: black;
    text-decoration: underline black;
}

.intro-a:hover {
    color: rgb(39, 140, 255);
    text-decoration: rgb(39, 140, 255) underline;
    cursor: pointer;
}

.social-links-container a:hover {
    cursor: pointer;
    color: rgb(39, 140, 255);
    text-decoration: rgb(39, 140, 255) underline;
}

.header-wrapper {
    transform: translateY(-30px);
    opacity: 0;
    animation: slideIn 1.8s ease-out forwards;
    animation-delay: 0.5s; 

    display: flex;
    justify-content: start;
    align-items: start;
}

.header-wrapper a {
    color: black;
    text-decoration: none;
    opacity: .6;
    font-size: 16px;
    margin-right: 15px;
}

.header-wrapper a:hover {
    color: rgb(39, 140, 255);
    text-decoration: rgb(39, 140, 255) underline;
}

svg {
    width: 20px;
    height: 20px;
    opacity: .6;
    margin: -1px 15px 0 0;
}

@keyframes slideIn {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    35% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLowOpacity {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    35% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: .6;
    }
}

@media screen and (max-width: 1080px) {
    .intro-wrapper {
        margin-bottom: 300px;
    }

    .intro-content {
        flex-direction: column-reverse;
    }

    .intro-tekst-wrapper {
        width: 100%;
    }

    .intro-job {
        margin: 30px 0 20px 0;
    }

    .intro-image-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
    }

    .intro-image-wrapper img {
        margin-top: 200px;
        margin-bottom: -20px;
    }

    .intro-title {
        line-height: 1.25;
        margin-top: 40px;
    }

    .social-links-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-wrapper {
        margin: 60px 0 -30px 0;
    }
}