/* Initial state: hidden */
#home.preload .hero,
#home.preload .main-image-display,
#home.preload .buttons {
    visibility: hidden;
}

/* After the preload class is removed */
#home .hero,
#home .main-image-display,
#home .buttons {
    visibility: visible;
    animation-delay: 0.5s; /* Start the animation after .5s */
}

.main-text-container {
    z-index: 1; /* Lower than header */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
}

.hero h2 {
    z-index: 1;
    width: 55vw;
    margin-top: -200px;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 650;
    color: #27272a;
    animation: fall-in 2s ease-out forwards;
}

.hero .highlight {
    background: linear-gradient(90deg, rgb(69, 123, 255) -45%, rgb(69, 134, 254) 10%, rgb(122, 200, 239) 25%, rgb(131, 160, 237) 60%, rgb(67, 174, 255) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-size: 20px;
    opacity: .8;
    margin: -50px 0 20px 0;
    animation: fall-in 2s ease-out forwards;
}

.buttons {
    z-index: 1; /* Ensure it's below the header */
    margin-top: -350px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
}

.btn svg {
    width: 22px;
    height: 22px;
    rotate: 180deg;
    margin: 0 0 -5px 8px;
}

.btn-primary {
    background: linear-gradient(to right, #3b97f8, #0271e8);
    color: white;
    animation: fall-in 2.1s ease-out forwards;
}

.btn-primary:hover {
    background: linear-gradient(to right, #2c90fc, #0660c0);
    cursor: pointer;
}

.btn-primary:hover, .btn svg {
    transform: scale(1.02);
}

.btn-secondary {
    animation: fall-in 2.2s ease-out forwards;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-secondary:hover {
    cursor: pointer;
}

@keyframes fall-in {
    0% {
        transform: translateY(-400px); /* Start 100px above */
        opacity: 0; /* Invisible */
    }
    100% {
        transform: translateY(0); /* End at the original position */
        z-index: 1; /* Maintain proper stacking order */
        opacity: 1; /* Fully visible */
    }
}

@media screen and (max-width: 1920px) {
    .main-text-container {
        margin-top: 50px;
        height: 30vh;
        margin-bottom: 200px;
    }

    .main-text-container p {
        margin: -20px 0 0 0;
    }

    .hero h2 {
        margin-top: 0;
        width: 70vw;
        font-size: 2.875rem;
    }

    .buttons {
        margin-top: -180px
    }

    .btn {
        font-size: 15px;
        padding: 10px 20px;
    }
}

/* Image display */

.main-image-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between the images */
    padding: 20px;
    margin-top: -150px;
}

.main-image-content {
    display: flex;
    justify-content: center;
}

.image {
    z-index: 1; /* Ensure it's below the header */
    margin: 0 20px;
    display: flex;
    justify-content: center;
    width: 50vw;
}

.first-image {
    flex: 1; /* This takes 1 part out of the total 3 */
}

.second-image {
    flex: 2; /* This takes 2 parts out of the total 3 */
}

@keyframes reverse-fall-in {
    0% {
        transform: translateY(-200); /* End at the original position */
        opacity: 0; /* Invisible */
    }
    100% {
        transform: translateY(-100px); /* Start 100px above */
        z-index: 1; /* Maintain proper stacking order */
        opacity: 1; /* Fully visible */
    }
}

.image img {
    animation: reverse-fall-in 2.5s ease-out forwards;
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the entire container */
    border-radius: 10px; /* Optional: adds rounded corners to the images */
}

@media screen and (max-width: 1920px) {
    .main-image-content {
        margin-top: -80px;
        margin-bottom: -50px;
        width: 100vw;
    }

    .image {
        width: 70%;
    }

    .image img {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1080px) {
    .main-image-content {
        width: 100vw;
    }
    
    .hero h2 {
        width: 90vw;
        font-size: 2.8rem;
        margin-bottom: 40px;
    }

    .hero p {
        width: 90vw;
        margin-bottom: 30px;
    }
    
    .image {
        width: 100vw;
        margin-top: 20px;
    }

}