.dropdown-content button {
    color: rgb(66, 66, 87);
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.8em;
    background-color: #f9fbff;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    padding: 14px 16px;
    min-width: 175px;
    display: block;
    text-align: left;
    text-transform: none;
    margin: 0 0 0 -90px;
}

.dropdown-content button:hover {
    cursor: pointer;
}

.dropdown {
    margin: 0;
}

.dropbtn {
    border: none;
    background-color: transparent;
    text-decoration: none;
    align-items: center;
    display: flex;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: rgb(66, 66, 87);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.8em;
    margin: 0 0 0 -5px;
}

.dropbtn svg {
    width: 16px;
    margin-left: 3px;
    margin-top: -1px;
}

.dropdown-content button img {
    width: 18px;
    margin: 0 8px -1px 0;
    border-radius: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    z-index: 100;
    margin-left: 30px;
}

.dropdown-content img {
    width: 15px;
    margin-right: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1000px) {
    .dropdown-content {
        margin-left: -20px;
    }
}