.dropdown-content button {
    font-family: "Inter", 'sans-serif';
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #181818;
    border: 1px solid color-mix(in srgb, #2b2b2b 15%, transparent);
    text-decoration: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    padding: 14px 16px;
    min-width: 175px;
    line-height: 10px;
    display: block;
    text-align: left;
    text-transform: none;
    margin: 0 0 0 -90px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05rem;
}

.dropdown-content button:hover {
    cursor: pointer;
    color: #ffffff;
}

.dropdown {
    position: fixed;
    bottom: -10px; /* -10px; */
    left: 65px; /* 65px / 2px */
    display: inline-block;
}

.dropbtn {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    padding: 10px 22px;
    align-items: center;
    display: flex;
    text-align: left;
    cursor: pointer;
    color: white;
    font-family: 'Inter', 'sans-serif';
    font-size: 12px;
    color: rgb(114, 114, 114);
    line-height: 0.8;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin: 30px 0 20px 0;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.dropbtn img {
    width: 14px;
    margin-right: 7px;
    margin-top: -1px;
}

.dropdown-content button img {
    width: 18px;
    margin: 0 8px -1px 0;
    border-radius: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 65px;
    left: 104px;
    background-color: transparent;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    border-radius: 22px;
}

.dropdown-content img {
    width: 15px;
    margin-right: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}