.personal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 55vh;
    margin-bottom: -100px;
    color: white;
}

.personal-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: -90px;
}

.personal-text-container {
    width: 70%;
}

.personal-text-container h3 {
    opacity: 1;
    font-size: 1.9rem;
    text-align: left;
    font-weight: 400;
}

.personal-text-container .personal-span {
    background: linear-gradient(90deg, rgb(69, 123, 255) -45%, rgb(69, 134, 254) 10%, rgb(122, 200, 239) 25%, rgb(131, 160, 237) 60%, rgb(67, 174, 255) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 550;
}

.quote {
    margin: -20px 0 20px 0;
}

.personal-icons-container {
    display: flex;
    margin-top: -20px;
    flex-direction: column;
}

.personal-icons-container svg {
    width: 20px;
    height: 20px;
    margin: 16px 10px 0 0;
}

.icon-div {
    margin: -5px 0;
    display: flex;
}

.personal-image-container img {
    border-radius: 10px;
    width: 350px;
    height: auto;
}

@media screen and (max-width: 1920px) {
    .personal-container {
        height: 100vh;
        margin-bottom: -800px;
    }

    .personal-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 35px 0 0 50px;
    }    

    .personal-content {
        width: 80%;
    }

    .personal-image-container img {
        width: 300px;
    }
}