.title-component-wrapper {
    margin-top: 300px;
    width: 90%;
}

.title-component {
    margin-left: 30px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
}

.project-block {
    margin: 50px 0;
    padding: 0 20px;
}

.project-btn {
    color: #222;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: #fff;
    border: #222 solid .05px;
}

.project-btn:hover {
    color: #222;
    background-color: #fcfaf8;
}

.project-wrapper {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.project-text {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;

    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    display: flex;
    margin: 20px 0;
    width: 75%;
}

.project-text h1 {
    letter-spacing: -.4px;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    color: #222;
}

.project-text .paragraph {
    color: #222;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}

.project-image {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 450px;
}

@media screen and (max-width: 1920px) {
    .projects-content {
        width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    .projects-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-text {
        width: 90%;
        margin-left: -40px;
    }
}