.projects-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px 0 500px 0;
}

.projects-view-content {
    height: 80vh;
    width: 80vw;
    text-align: center;
}

.projects-view-title {
    font-size: 3.5rem;
}

.projects-view-description {
    font-size: 18px;
    margin-top: -20px;
}

.projects-container {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-content {
    max-width: 1400px;
}