.projects-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
}

.projects-content {
    width: 60%;
}

.projects-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-template-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.project-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.4px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: 0;
    color: #222;
}

.project-description {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: #222;
}

/* */

.projects-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-image {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    margin-left: 40px;
}

.project-image img {
    width: 100%;
}

.project-info {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: 90%;
}

.projects-title {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -.4px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: -10px;
    
}

.project-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #222;
}

.project-button {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #155fc0;
    font-weight: 300;
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.line-divider {
    height: 1px;
    background-color: rgba(000, 000, 000, .1);
    width: 100%;
}

.last {
    margin-bottom: -200px;
}

@media screen and (max-width: 1920px) {
    .projects-container {
        margin-top: 150px;
    }

    .projects-content {
        width: 90%;
    }

    .last {
        margin-bottom: -325px;
    }
}

@media screen and (max-width: 1080px) {
    .projects-container {
        margin-top: 150px;
    }

    .project-inner-block {
        flex-direction: column;
    }

    .project-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .project-image {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

    .project-image img {
        margin-bottom: 10px;
    }

    .project-block-title {
        margin-top: 20px;
    }

    .project-block-info {
        width: 100%;
    }

    .projects-content {
        width: 90%;
    }

    .projects-inner-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .last {
        margin-bottom: -150px;
    }
}