.panel-container {
    flex: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    will-change: transform;
    z-index: 1;
    border-right: 1.5px solid rgba(52, 52, 52, .9);
}

.panel-nav {
    background-color: rgba(35, 35, 35);
    height: 100%;
    width: 100%;
    opacity: 1;
}

.panel-content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.panel-content a svg {
    width: 25px;
    height: 25px;
    stroke: white;
    opacity: 0.6;
}

.panel-content a:hover svg {
    opacity: 1;
}

.panel-content a img {
    width: 25px;
    height: 25px;
    opacity: .6;
}

.panel-content a:hover img {
    opacity: 1;
}

@media screen and (max-width: 980px) {
    .panel-container {
        display: none;
    }
}