.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    height: 80vh;
}

.skills-content {
    width: 60%;
}

.skills-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-template-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-wrapper {

}

.skill-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.4px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: 0;
    color: #222;
}

.skill-description {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: #222;
}

/* */

.skills-wrapper {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;   
    width: 100%;          
    gap: 40px;
}

.skill-set {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
}

.skill-info-box {
    width: 50%;
}

.skill-info-box h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 650;
    letter-spacing: -.4px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 10px;
    color: #6b6868;
}

.skill-info-box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #222;
}

.skill-icons-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 10px;
}

.left {
    margin-right: 20px;
}

.right {
    margin-left: 20px;
}

.skill-icons-box img {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid color-mix(in srgb, #8cb4e9 15%, transparent);
}

/* 
.skill-block {
    box-shadow: 0 4px 8px rgba(34, 34, 34, .1);
    flex: 1;       
    border-radius: 30px;
    background-color: #fff;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-block-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 650;
    letter-spacing: -.4px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 10px;
    color: #6b6868;
}

.skill-block-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #222;
}

.skill-icons {
    display: flex;
    margin-top: 40px;
    gap: 15px;
}

.skill-icons img {
    width: 20px;
    height: 20px;
} */

@media screen and (max-width: 1920px) {
    .skills-container {
        margin-bottom: 300px;
    }

    .skills-content {
        width: 90%;
    }

    .skills-wrapper {
        gap: 40px;
        margin-top: 25px;
    }
}