.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
    background-color: #fcfaf8;
    height: 80vh;
}

.skills-content {
    width: 60%;
}

.skills-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-template-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-wrapper {

}

.skill-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.4px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: 0;
    color: #222;
}

.skill-description {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: #222;
}

/* */

.skills-wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 100px;
}

.skill-block {
    width: 400px;
    border-radius: 40px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-block-title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -.4px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 10px;
    color: #222;
}

.skill-block-description {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: #222;
}

.skill-icons {
    display: flex;
    margin-top: 40px;
    gap: 5px;
}

.skill-icons img {
    border: rgba(34, 34, 34, .3) solid 1px;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1920px) {
    .skills-container {
        margin-bottom: 300px;
    }

    .skills-content {
        width: 90%;
    }

    .skills-wrapper {
        gap: 40px;
        margin-top: 25px;
    }

    .skill-block {
        padding-left: 0;
        padding-right: 0;
    }
}