.skills-wrapper {
    background-image: url("../assets/dark_background.png");
    background-repeat: repeat;
    display: flex;
    justify-content: center;
}

.skills-content {
    width: 80%;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    margin: 10px 25px;
}

.skills-container {
    margin-top: 90px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px; 
}

.skill-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    padding: 25px 25px;
    width: 100%;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    background: color-mix(in srgb, #1d1c1c 100%, transparent);
    border: 1px solid color-mix(in srgb, #8cb4e9 15%, transparent);
    border-radius: 25px;
    color: white;
    height: 100%; 
}

.skill-title-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: left;
}

.skill-title-title {
    margin: 0 0 -5px 0;
    font-weight: 400;
    line-height: 1;
    font-size: 1.4rem;
}

.skill-title-description {
    font-weight: 400;
    font-size: 16px;
    opacity: .6;
}

.skill-images-container {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap; 
}

.skill-images-container img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@media screen and (max-width: 1080px) {
    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-row {
        margin-bottom: 40px;
    }
}