.stack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    margin: 5px 0 0 0;    
}

.stack-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: 20px;
}

.stack-section-title {
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 3.3s cubic-bezier(0.5, 0, 0.3, 1) forwards;
}

.stack-list {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
}

.stack-innhold {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    margin: 10px 0;

    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 3.5s cubic-bezier(0.5, 0, 0.3, 1) forwards;
}

.stack-title {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.5em;
    text-align: start;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 10px;
}

.stack-grid {
    margin: -5px 10px 20px 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-flow: wrap;
    gap: 10px;
    overflow: hidden;
}

.stack-grid-block {
    width: 88%;
    background-color: rgb(22, 22, 22); 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    padding: 10px 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.stack-grid-block:hover {
    cursor: pointer;
    background-color: #242424;
}

.stack-grid-block img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.stack-grid-block p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.5em;
    color: rgba(126, 126, 126); 
    margin: 0;
    text-align: left;
}

@media screen and (max-width: 1100px) {
    .stack-container {
        width: 97%;
    }

    .stack-grid {
        gap: 15px 0;
    }

    .stack-grid-block {
        width: 70%;
    }
}