.stack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0;
}

.stack-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: 20px;
}

.stack-list {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
}

/* Stack content */

.stack-innhold {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-wrap: wrap;
    margin: 10px 0;
}

.stack-title {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0em;
    margin-bottom: 20px;
}

.stack-grid {
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

/* Stack tiles */

.stack-tile {
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 230px;
}

.stack-pic-wrapper {
    border-radius: 6px;
    border: dashed rgba(168, 168, 168, 0.5) 1px; 
    padding: 5px;
    inset: 0px;
    flex: none;
    overflow: visible;
    position: relative;
}

.stack-pic-wrapper img {
    opacity: 1;
    width: 30px;
    height: 30px;
    display: block;
    object-position: center center;
    object-fit: cover;
}

.stack-info {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}

.stack-info h6 {
    color: rgb(20, 20, 20);
    font-size: 16px;
    line-height: 1.4em;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 -2px 0;
}

.stack-info p {
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0em;
    text-transform: uppercase;
    margin: -5px 0 0 0;
}

@media screen and (max-width: 1100px) {
    .stack-container {
        width: 97%;
    }

    .stack-grid {
        gap: 15px 0;
    }

    .stack-grid-block {
        width: 78%;
    }
}