.work-container {
    display: flex;
    justify-content: center;
    height: 55vh;
    margin-top: 300px;
    margin-bottom: 300px;
    color: #27272a;
    background-color: #fcfcfc;
}

.work-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.work-title {
    margin-top: 20px;
    font-size: 3.5rem;
}

.work-description {
    font-size: 18px;
    margin-top: -20px;
}

.work-blocks {
    margin-top: 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.line-divider {
    width: 100%;
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 0 40px 0; 
}


@media screen and (max-width: 1920px) {
    .work-container {
        height: 100vh;
    }

    .work-title {
        margin-top: 5px;
    }
    
    .work-description {
        margin-top: -30px;
    }

    .work-blocks {
        margin-top: 75px;
    }
    
}