.work-block-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.work-block-content {
    display: flex;
}

.work-location-role-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.work-location-time-container {
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.work-location-time-container .work-location {
    font-size: 20px;
    font-weight: 500;
}

.work-location-time-container .work-time {
    font-size: 18px;
    font-weight: 300;
    margin-top: -10px;
}   

.work-role-container {
    width: 50%;
    text-align: right;
}

.work-role-container p {
    font-size: 18px;
    font-weight: 300;
}

.work-type-container {
    width: 30%;
    text-align: right;
}

.work-type-container .work-type-p {
    font-size: 18px;
    font-weight: 300;
}

.work-name-span {
    color: #007bff;
}

.work-name-span a {
    color: #007bff;
    text-decoration: none;
}

.work-name-span a:hover {
    cursor: pointer;
    color: #3496ff;
}