.contact-container {
    margin-bottom: 30px;
}

.contact-content p {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    color: var(--tekst-farge);
    margin: 0 0 5px 0;
}

.contact-content a {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    color: var(--tekst-farge);
    margin: 0 0 5px 0;
    text-decoration: underline;
}

.contact-content a:hover {
    cursor: pointer;
}

.contact-links {
    width: 100%;
    flex-direction: row;
    align-items: start;
    margin: 25px 0 -5px 0;
}

.contact-links a {
    color: var(--tekst-farge);
    font-size: 15px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: 0.022em;
    text-decoration: none;
    margin-right: 10px;
    border: rgba(0, 0, 0, .1) solid 1px;
    padding: 10px;
    border-radius: 6px;
}

.contact-links a:hover {
    background-color: rgb(248, 248, 248);
}

.contact-links svg {
    width: 20px;
    height: 20px;
    color: rgb(122, 122, 122);
    margin: 0 0 -5px 0;
}

.contact-links img {
    width: 21px;
    height: 21px;
    color: rgb(122, 122, 122);
    margin: 0 0 -5px 0;
}