.education-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 5px 0 -10px 0;
}

.education-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}

@media screen and (max-width: 1080px) {
    .education-container {
        width: 95%;
    }
}