.education-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.education-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    min-width: 64rem;
}

/* Education block */

.education-block {
    display: grid;
    grid-template-columns: 5% 95%;
    width: 100%;
    max-width: 64rem;
}

.education-left {
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.education-left img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: rgb(30 58 138);
}

.vertical-line {
    margin: 0 0 0 14px;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.education-right {
    padding: 0 1rem 0 1rem;

}

.e-school {
    margin: 0;
    font-size: 1.125rem;
    color: rgb(20, 20, 20);
    line-height: 1.4em;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
}

.e-study {
    margin: 0;
    font-size: 15px;
    line-height: 1.25rem;
    color: rgb(156 163 175);
    font-weight: 400;
}

.e-description {
    color: rgb(156 163 175);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5rem;
    margin: 1.4rem 0 1rem 0;
}

.e-date-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.e-date-div svg {
    width: 20px;
    height: 20px;
    margin: 0 0 2px 0;
    color: rgb(156 163 175);
}

.e-date {
    color: rgb(156 163 175);
    font-size: .875rem;
    line-height: 1.25rem;
}

@media screen and (max-width: 64rem) {
    .education-container {
        width: 95%;
    }

    .education-block {
        grid-template-columns: 2% 99%;
    }

    .e-description {
        width: 35%;
    }
}