.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    background-color: #181818;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
}

.header-inner-content {
    max-width: var(--maksimal-brede);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: -.01em;
    color: rgba(255, 255, 255, 0.8);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1;
}

/* Header profile */

.header-links {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 30px;
}

.header-links a {
    font-size: 14px;
    font-weight:lighter;
    letter-spacing: -.01em;
    color: rgba(255, 255, 255, 0.8);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1;
    text-decoration: none;
}

.header-links a:hover {
    color: rgb(255, 255, 255);
}

/* Header nav */

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 1080px) {
    .header-content {
        height: 40px;
    }

    .header-inner-content {
        padding: 0 10px;
    }

    .header-links {
        display: none;
    }
}