.home-container {
    display: flex;
    align-items: start;
    width: 100%;
    flex-direction: column;
    height: 100vh;
}

.home-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: left;
}

/* Home information */

.home-information {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.home-image {
    width: 124px;
    height: 124px;
    border-radius: 50%;
}   

.home-name {
    font-family: "Saira Extra Condensed", 'sans-serif';
    font-size: 6rem;
    line-height: 5.5rem;
    font-weight: 650;
    font-style: normal;
    letter-spacing: -.025em;
    text-transform: uppercase;
    text-align: left;
    color: #343a40;
    margin: 25px 0 5px 0;
}

.home-role {
    font-family: "Saira Extra Condensed", 'sans-serif';
    text-transform: uppercase;
    font-size: 34px;
    line-height: 1em;
    font-style: normal;
    font-weight: 650;
    color: #343a40;
    text-align: start;
    margin: 0 0 25px 0;
}

.home-description {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    color: var(--tekst-farge);
    margin: 0 0 5px 0;
}

/* Social container */

.social-container {
    display: none;
    width: 100%;
    flex-direction: row;
    align-items: start;
    margin: 15px 0 -5px 0;
}

.social-container a {
    color: var(--tekst-farge);
    font-size: 15px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: 0.022em;
    text-decoration: none;
    margin-right: 10px;
    border: rgba(0, 0, 0, .1) solid 1px;
    padding: 10px;
    border-radius: 6px;
}

.social-container svg {
    width: 20px;
    height: 20px;
    color: rgb(122, 122, 122);
    margin: 0 0 -5px 0;
}

.social-container img {
    width: 21px;
    height: 21px;
    color: rgb(122, 122, 122);
    margin: 0 0 -5px 0;
}

@media screen and (max-width: 1080px) {
    .home-container {
        height: fit-content;
    }

    .home-content {
        padding: 0 0;
        width: 95%;
    }

    .description {
        margin-bottom: 20px;
    }

    .home-image {
        margin-top: 20px;
    }

    .home-name {
        font-size: 4rem;
        line-height: 1em;
    }

    .social-container {
        display: flex;
    }
}