.home-container {
    display: flex;
    align-items: start;
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
}

.home-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

/* Home content */

.name {
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    color: rgb(29,29,31);
    margin: 25px 0 3px 0;
}

.role-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: -15px 0 10px 0;
}

.role {
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 600;
    letter-spacing: 0.022em;
    display: flex;
    align-items: center;
    gap: 5px;
}

.role img {
    margin-top: -1px;
    width: 22px;
}

/* Video */

.video-thumbnail-link {
    display: inline-block;
    text-decoration: none;
}

.video-thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Description */

.description {
    margin: 0 0 10px 0;
    color: rgb(29,29,31);
    font-size: 16px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: 0.022em;
}

/* Social container */

.social-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    margin: 10px 0 0 0;
}

.social-container a {
    color: rgb(29,29,31);
    font-size: 15px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: 0.022em;
    text-decoration: none;
    gap: 2px;
    display: flex;
    align-items: center;
}

.social-container svg {
    width: 14px;
    height: auto;
    margin: 0 0 3px 0;
}

@media screen and (max-width: 1000px) {
    .home-content {
        padding: 0 10px;
        width: 95%;
    }
}