.home-container {
    display: flex;
    align-items: start;
    width: 100%;
    flex-direction: column;
    margin: 50px 0 0 0;
}

.home-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

/* Name, role, description */

.name {
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
    color: rgb(0, 0, 0);
    margin: 10px 0 0 0;
}

.role-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 65%;
    margin: -10px 0 0 0;
}

.role-container img {
    width: 16px;
    height: auto;
    margin: 0 0 -3px 3px;
}

.role {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
}

.description {
    margin: 0 0 10px 0;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: center;
    color: rgb(179, 179, 179);
}

/* Image */

.video-thumbnail-link {
    display: inline-block;
    text-decoration: none;
}

.video-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Important note */

.important-note {
    width: 98%;
    height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    border-left: 2px solid #0d72c5; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.highlight {
    padding: 0 .25rem;
    background-color: #ffecb3;
    color: #5a4500;
    border-radius: 2px;
}

.important-note p {
    color: #a3a3a3;
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
}

.important-note a {
    text-decoration: none;
    color: rgb(29, 143, 209);
}

.important-note a:hover {
    color: rgb(47, 168, 239);
}

@media screen and (max-width: 1080px) {
    .home-content {
        padding: 0 10px;
        width: 95%;
    }

    .role-container {
        width: 100%;
    }

    .description {
        margin-bottom: 20px;
    }

    .important-note {
        margin-top: 5px;
        height: 80px;
    }
}