.interests-container {
    display: flex;  
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.interests-content {
    width: 100%;
}

.interests-tekst {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    color: var(--tekst-farge);
    margin: 0 0 25px 0;
}

/* interests image */

.interests-image img {
    border-radius: 12px;
    max-width: 400px;
    height: auto;
}

.interests-image-location-container {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: -10px;
}

.interests-image-location-container svg {
    width: 12px;
    height: 12px;
    color: #a3a3a3;
    margin: -2px 0 0 0;
}

.interests-image-location-container p {
    color: #a3a3a3;
    font-style: normal;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.25rem;
}

/* List */

.interests-list {
    margin: -5px 0 0 -25px;
}   

.interests-list li {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.6em;
    text-align: start;
    color: var(--tekst-farge);
    margin: 5px 0 0 0;
}

@media screen and (max-width: 1080px) {
    .interests-container {
        margin-bottom: 50px;
    }

    .interests-image img {
        max-width: 94vw;
    }
}