.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 100%;
}

.dropbtn span {
    color: #a3a3a3;
    opacity: 0.85;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    font-family: "Inter", 'sans-serif';
}

.dropdown-content button {
    font-family: "Inter", 'sans-serif';
    color: #fafafa;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(226, 226, 226, 0.03);
    line-height: 1.125em;
    letter-spacing: 0em;
    font-style: normal;
    text-align: left;
    min-width: 100px;
    font-weight: 400;
    padding: 6px 10px;
    font-size: 12px;
    margin: 0 0 0 -90px;
    display: block;
    backdrop-filter: blur(20%);
    -webkit-backdrop-filter: blur(20%);
    background: color-mix(in srgb, #141414 100%, transparent);
    border: 1px solid color-mix(in srgb, #8cb4e9 15%, transparent);
}

.dropdown-content button:hover {
    cursor: pointer;
    background-color: rgb(5, 5, 5);
}

.dropbtn {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    padding: 10px 0;
    align-items: center;
    display: flex;
    justify-content: start;
    text-align: left;
    cursor: pointer;
    width: 100%;
    margin: -4px 0 -5px 0;
    gap: 6px;
}

.dropdown-content button img {
    width: 18px;
    margin: 0 8px -1px 0;
    border-radius: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 15rem;
    margin-top: -50px;
    background-color: transparent;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 100;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1080px) {
    .dropdown-content {
        left: 89px;
        bottom: 40px;
    }

    .dropdown {
        padding: 0 20px 0 10px;
        width: fit-content;
        position: fixed;
        border-radius: 3px;
        background-color: #000000;
        bottom: 12px;
        left: 10px;
        border: 1px solid color-mix(in srgb, #8cb4e9 15%, transparent);
    }

    .dropbtn span {
        margin-top: -1px;
        font-size: 13px;
    }

    .dropbtn svg {
        width: 40px;
        height: 40px;
    }
}