.dropdown-content button {
    color: rgba(255, 255, 255, 0.8);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.8em;
    background-color: #181818;
    border: none;
    box-shadow: 0 4px 10px rgba(8, 8, 8, 0.03);
    padding: 6px 10px;
    min-width: 125px;
    display: block;
    text-align: left;
    text-transform: none;
    margin: 0 0 0 -90px;
    font-family: SF Pro Display, 'sans-serif';
}

.dropdown-content button:hover {
    color: white;
    cursor: pointer;
}

.dropdown {
    margin: 0;
}

.dropbtn {
    border: none;
    background-color: transparent;
    text-decoration: none;
    align-items: center;
    display: flex;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .09em;
    color: rgba(255, 255, 255, 0.8);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1;
    margin: 0 0 0 -5px;
}

.dropbtn svg {
    width: 13px;
    margin-right: 4px;
    margin-top: 0;
}

.dropdown-content button img {
    width: 18px;
    margin: 0 8px -1px 0;
    border-radius: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;
    z-index: 100;
    margin-left: 50px;
}

.dropdown-content img {
    width: 15px;
    margin-right: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1000px) {
    .dropdown-content {
        margin-left: 20px;
    }
}