.panel-container {
    flex: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    will-change: transform;
    z-index: 200;
    border-right: 1.5px solid rgba(0, 0, 0, 0.1);
}

.panel-nav {
    background-color: #fff;
    height: 100%;
    width: 88%;
    opacity: 1;
    margin-left: 15px;
    padding-right: 10px;
}

.hamburger-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Panel profile */

.panel-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.panel-profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -2px;
}

.panel-profile p {
    color: #000;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
}

/* Panel content */

.panel-content {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.panel-content a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
    padding: 6px;
    border-radius: .375rem;
    text-decoration: none;
}

.panel-content a span {
    color: #a3a3a3;
    text-decoration: none;
    opacity: .85;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.panel-content a svg {
    color: #a3a3a3;
    width: 16px;
    height: 16px;
    text-decoration: none;
    margin: -1px 0 0 0;
}

.panel-content a img {
    color: #a3a3a3;
    width: 16px;
    height: 16px;
    text-decoration: none;
    margin: -2px 0 0 0;
}

.panel-content a:hover {
    background-color: #f5f5f5;
}

.panel-content a:hover,
.panel-content a:hover span,
.panel-content a:hover svg {
    color: #000;
}

.panel-content a:hover img {
    filter: brightness(0) invert(0);
}

.panel-content button svg {
    color: #a3a3a3;
    width: 16px;
    height: 16px;
    text-decoration: none;
    margin: -3px 0 0 0;
}

@media screen and (max-width: 1080px) {
    .panel-container {
        border-right: none;
        height: 60px;
        width: 100vw;
        top: auto;
        bottom: 0;
        position: fixed;
    }

    .panel-profile {
        display: none;
    }

    .panel-content a {
        display: none;
    }

    .panel-nav .line {
        display: none;
    }

    .panel-nav {
        background-color: transparent;
    }
}