.stack-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: -25px;
}

.stack-content {
    margin-top: -50px;
}

.stack-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    min-width: 1024px;
}

.stack-innhold {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-wrap: wrap;
    margin: 30px 0;
}

.stack-title {
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 24px;
    text-align: start;
    color: #000;
    margin-bottom: 15px;
    margin-top: 10px;
}

.stack-grid {
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: start;
    gap: 20px;
    overflow: hidden;
}

/* Stack list */

.stack-innhold ul {
    margin: -5px 0 0 -20px;
}

.stack-innhold ul li {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.6em;
    text-align: start;
    color: rgb(179, 179, 179);
    margin: 5px 0 0 0;
}

@media screen and (max-width: var(--maksimal-brede)) {
    .stack-container {
        width: 95%;
    }

    .stack-grid > * {
        flex: 1 1 calc(50% - 30px); /* Two items per row */
    }
}