.stack-tile {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 200px;
}

.stack-pic-wrapper {
    border-radius: 6px;
    border: dashed rgba(168, 168, 168, 0.3) 1px;
    padding: 5px;
    inset: 0px;
    flex: none;
    overflow: visible;
    position: relative;
}

.stack-pic-wrapper img {
    opacity: 1;
    width: 25px;
    height: 25px;
    padding: 5px;
    display: block;
    object-position: center center;
    object-fit: cover;
    border-radius: 8px;
}

.stack-info {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}

.stack-info h6 {
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 20px;
    font-weight: 400;
    color: var(--tekst-farge);
    margin: 0 0 0 0;
}

.stack-info p {
    font-size: 11px;
    font-weight: 450;
    color: rgba(110, 110, 110, 0.635);
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 12px;
    text-align: start;
    margin: -6px 0 0 0;
}

@media screen and (max-width: 1080px) {
    .stack-info h6 {
        line-height: 12px;
        margin-bottom: 4px;
    }
}