.work-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 30px;
}

.work-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    min-width: 1024px;
    gap: 20px;
}

/* Work block */

.work-block {
    display: grid;
    width: 100%;
    max-width: 1024px;
}

.work-left img {
    border-radius: 50%;
    margin: 12px 0 0 0;
    width: 28px;
    height: 28px;
}

.work-right {
    padding: 0;
}

.w-company {
    margin: 0;
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 600;
    letter-spacing: 0.022em;
}

.w-role {
    margin: 0;
    color: rgb(29,29,31);
    font-size: 16px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: 0.022em;
    font-weight: 400;
}

.w-description {
    color: rgb(29,29,31);
    font-size: 16px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: 0.022em;
    font-weight: 400;
    margin-bottom: 1rem;
}

.w-link {
    color: rgb(36, 158, 245);
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.w-link:hover {
    color: rgb(24, 129, 204);
    text-decoration: underline;
}

.w-stack-div {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 0 10px 0;
}

.w-stack-div p {
    color: rgba(0, 0, 0, 0.6); 
    background-color: rgba(209, 209, 209, 0.178);
    font-weight: 400;
    font-size: .75rem;
    border-radius: 5%;
    padding: 1px 6px;
    line-height: 1.5rem;
    margin: 0;
}

.w-date {
    color: rgb(29,29,31);
    font-size: 14px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: 0.022em;
    margin: 0 0 10px 0;
}

@media screen and (max-width: 64rem) {
    .work-container {
        width: 95%;
    }

    .work-block {
        grid-template-columns: 2% 98%;
    }

    .w-company {
        font-size: 14px;
    }

    .w-description {
        width: 33%;
    }

    .w-role {
        width: 35%;
    }

    .w-stack-div {
        width: 35%;
    }
}