.work-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.work-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 20px;
}

@media screen and (max-width: 1080px) {
    .work-container {
        width: 95%;
    }
}