.work-tile-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 10px 0;
}

.work-tile-name-role-date-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-tile-name-role-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.work-tile-name-role-container h2 {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    color: var(--main-farge);
    text-align: start;
    margin: 0;
}

.work-tile-name-role-container p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.6em;
    text-align: start;
    color: var(--main-farge);
    margin: 0;
}

.work-tile-date {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.6em;
    text-align: start;
    color: var(--main-farge);
    margin: -25px 0 0 0;
}

.work-tile-description {
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 1.6em;
    text-align: start;
    color: var(--tekst-farge);
    font-weight: 400;
    margin: 20px 0 0 0;
}

.work-tile-skills-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin: 25px 0 10px 0;
}

.work-tile-skills-container p {
    font-family: "Inter Tight", 'sans-serif';
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--tekst-farge);

    background-color: hsla(0, 0%, 99%, 0.881);
    border-radius: .375rem;
    padding: 1px 6px;
    margin: 0;
}

@media screen and (max-width: 1080px) {
    .work-tile-date {
        margin-top: -45px;
    }
}