.work-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 30px;
}

.work-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    min-width: 1024px;
    gap: 20px;
}

@media screen and (max-width: var(--maksimal-brede)) {
    .work-container {
        width: 95%;
    }
}