@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #fff; /* #232323 */
}

.app-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.app-content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.app-innhold {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
}