@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: rgba(255, 255, 255, .72);
  backdrop-filter: saturate(180%) blur(20px);
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

.App {
  
}