@import url('https://v1.fontapi.ir/css/SFProDisplay');

:root {
  scroll-behavior: smooth;
}

body {
  font-family: SF Pro Display, sans-serif;
  box-sizing: border-box;
  margin: 100px 0 0 0;
  padding: 0;

  --dark-blue: #72c6eb;
  color: black;
  background-color: #FDFDFD;
}

@media screen and (max-width: 1920px) {
  body {
    margin: 60px 0 0 0;
  }
}