@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff ; 

    --maksimal-brede: 56rem;
    --tekst-farge: rgb(88, 88, 88);
    --main-farge: #000;
}

.app-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.app-content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.app-innhold {
    margin-left: 20rem;
    max-width: var(--maksimal-brede);
}

.line {
    width: 80%;
    margin: 0 0 8px 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    height: 1px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Section div */

.section-div {
    display: flex;
    align-items: start;
    flex-direction: column-reverse;
    width: 100%;
    margin: 10px 0 0 0;
}

.section-title {
    line-height: 1.25rem;
    font-weight: 700;
    color: #343a40;
    font-size: 3.5rem;
    margin-right: 15px; 
    white-space: nowrap; 
    font-family: "Saira Extra Condensed", 'sans-serif';
    text-transform: uppercase;
}

.section-div div {
    background-color: rgba(0, 0, 0, 0.1); 
    height: 1px;
    width: 100%;
    flex-grow: 1;
    margin-top: 50px;
}

@media screen and (max-width: 1080px) {
    .app-container {
        flex-direction: column; 
    }

    .app-innhold {
        width: 95%;
        margin-left: 5px;
    }
    
    .line {
        width: 95%; 
    }
}
