@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;

    --maksimal-brede: 999px;
}

.app-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.app-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: var(--maksimal-brede);
}

.line {
    width: 100%;
    margin: 30px 0;
    background-color: rgba(0, 0, 0, 0.1); 
    height: 1px;
}

.section-title {
    font-size: 17px;
    font-style: normal;
    line-height: 1.4em;
    font-weight: 700;
    letter-spacing: 0em;
    color: rgba(80, 97, 104, 0.555);
    margin-bottom: 2rem;
    text-transform: uppercase;
    margin-top: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: var(--maksimal-brede)) {
    .app-content {
        max-width: none;
    }
    
    .line {
        width: 95%;
    }
}