@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000; /* fdfdfd */
}

.app-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.app-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 64rem;
}

.line {
    width: 100%;
    margin: 30px 0;
    background-color: rgba(255, 255, 255, 0.1); /* rgba(0, 0, 0, 0.1) */
    height: 1px;
}

.section-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
    margin-top: 0;
    color: #fff; /* 000 */
}

/* Effekter */

@keyframes slideUpFadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 64rem) {
    .line {
        width: 95%;
    }
}