.n-container {
    padding: 60px 0;
}

.n-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-right: -100px;
}

.n-top {
    animation: slideUpFadeIn .7s ease-out forwards; /* Adjust timing here */

    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 30px;
}

.n-title-container {
    display: flex;
    align-items: center;
}

.n-title-container img {
    width: 30px;
    margin-right: 8px;
}

.n-image {
    border-radius: 12px;
    width: 508px;
    animation: slideUpFadeIn 1s ease-out forwards; /* Adjust timing here */
}

.n-top h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.5em;
    text-align: start;
    color: white;
    margin: 0;
}

.n-top p {
    color: #707070;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.5em;
    text-align: start;
    margin: 0;
}

.n-p {
    animation: slideUpFadeIn 1.8s ease-out forwards; /* Adjust timing here */
    color: #707070;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.5em;
    text-align: start;
    margin: 30px 0;
    width: 508px;
}

@keyframes slideUpFadeIn {
    0% {
        transform: translateY(20px); 
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1; 
    }
}